<%= render partial: 'shared/webs_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <h5>Accounts <span style="font-size: 14px;">(Results: <%= number_with_delimiter(@webs.count, :delimiter => ',') %> )</span></h5>
  </div>


  <div class="col-md-3">
    <% if params[:q].present? %>
      <%= link_to generate_csv_webs_path(params), remote: true, class: 'btn btn-primary btn-md' do %>
        <i class="fa fa-download" aria-hidden="true"></i> Download CSV
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6"></div>
</div>

<div class="row">
  <div class="col-md-6">
    <% params[:web_ids] = @webs.map(&:id) %>
    <% params[:source_path] = 'webs_path' %>

    <%= link_to "Follow All Webs", follow_all_web_activities_path(params), class: 'btn btn-primary btn-md' %>
    <%= link_to "UnFollow All Webs", unfollow_all_web_activities_path(params), class: 'btn btn-default btn-md' %>
    <%= link_to "Hide All Webs", hide_all_web_activities_path(params), class: 'btn btn-danger btn-md' %>
    <%= link_to "UnHide All Webs", unhide_all_web_activities_path(params), class: 'btn btn-default btn-md' %>
  </div>

  <div class="col-md-6">
    <% params[:act_ids] = @webs.map {|web| web.acts.map(&:id)}.flatten.uniq %>
    <% params[:source_path] = 'webs_path' %>

    <%= link_to "Follow All Acts", follow_all_act_activities_path(params), class: 'btn btn-primary btn-md' %>
    <%= link_to "UnFollow All Acts", unfollow_all_act_activities_path(params), class: 'btn btn-default btn-md' %>
    <%= link_to "Hide All Acts", hide_all_act_activities_path(params), class: 'btn btn-danger btn-md' %>
    <%= link_to "UnHide All Acts", unhide_all_act_activities_path(params), class: 'btn btn-default btn-md' %>
  </div>
</div>




<div class="panel outer-panel">
  <% @webs.each do |web| %>

    <% @web = web %>
    <%= render 'webs/web_details', locals: {web: @web} %>

  <% end %>

  <br>
  <%= will_paginate @webs if @webs.present? %>
  <br>
  <br>
</div>
