<%= render partial: 'shared/webs_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <h5>Accounts <span style="font-size: 14px;">(Results: <%= number_with_delimiter(@webs.count, :delimiter => ',') %> )</span></h5>
  </div>


  <div class="col-md-3">
    <% if params[:q].present? %>
      <%= link_to generate_csv_webs_path(params), class: 'btn btn-primary btn-md' do %>
        <i class="fa fa-download" aria-hidden="true"></i> Download CSV
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6"></div>
</div>





<div class="panel outer-panel">
  <% @webs.each do |web| %>

    <% @web = web %>
    <%= render 'webs/web_details', locals: {web: @web} %>

  <% end %>

  <br>
  <%= will_paginate @webs if @webs.present? %>
  <br>
  <br>
</div>
