<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Rooftops</h1>
  </div>
</div>


<div class="row">
  <%= render 'webs/webs_search_partial', search: @search %>
</div>

<div class="row">
  <div class="col-md-12">
    <h5>Search Results: <%= @webs.count %></h5>
  </div>
</div>

<style>
 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }
</style>

<div class="panel panel-default">
  <table class="table table-bordered text-nowrap">

  <tbody>
    <% @webs.each do |web| %>
      <tr>
        <td>URL: <%= link_to web.url, web %></td>
        <td><%= web.conts.count%></td>

        <td>
          <table class="table-bordered text-nowrap">

            <tr>
              <th style="width: 40%">Name</th>
              <th>Address</th>
              <th style="width: 12%">Phone</th>
            </tr>
            <% web.acts.each do |act| %>
              <tr>
                <td><%= act.act_name %></td>
                <td><%= act.full_address %></td>
                <td><%= act.phone %></td>
              </tr>
            <% end %>

          </table>


        </td>




      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<%= will_paginate @webs %>
<br>
<br>
