<!-- <nav class="navbar navbar-default"> -->
  <!-- <div class="container-fluid"> -->
    <%= render partial: 'shared/sidebar_btn' %>
    <%#= render partial: 'shared/flash' %>
  <!-- </div> -->
<!-- </nav> -->


<p id="notice"><%= notice %></p>

<div class="row">
  <%= render 'webs/webs_search_partial', search: @search %>
</div>


<div class="row">
  <div class="col-md-12">
    <h5>Web Based View (Results: <%= @webs.count %>)</h5>
  </div>
</div>


<div class="panel outer-panel">
  <% @webs.each do |web| %>

    <div class="row outer-list-row">
      <div class="col-md-3 association-parent">
        <p><%= link_to icon('fas', 'external-link-alt', web.url), web.url, target: '_blank' %></p>
        <p><%= icon('fas', 'car', "Brand: #{get_brands(web)&.join(', ')}") %></p>
        <p><%= icon('fas', 'star', "COP: #{web.cop}") %></p>
        <p><%= icon('fas', 'home', "Website: #{web.url_sts}")%>: <%= web.url_date&.strftime('%x')%></p>
        <p><%= icon('fab', 'firstdraft', "Template (#{web.temp_name})")%>: <%= web.temp_sts %> <%= web.tmp_date&.strftime('%x')%></p>
        <p><%= icon('fas', 'link', "Staff Page: #{web.page_sts}")%>: <%= web.page_date&.strftime('%x')%></p>

        <% cont_count = web.conts&.count %>
        <% if cont_count > 0 %>
          <p><%= icon('fas', 'users', "Staff (#{cont_count})")%>: <%= web.cs_sts %> <%= web.cs_date&.strftime('%x')%> <a href="#" onclick="toggleConts(<%= web.id %>);return false;">View Staff</a></p>
        <% else %>
          <p><%= icon('fas', 'users', "Staff (#{cont_count})")%>: <%= web.cs_sts %> <%= web.cs_date&.strftime('%x')%></p>
        <% end %>

        <p><%= icon('fas', 'calendar-alt', "Created: #{web.created_at.strftime('%x')}")%> (Updated: <%= web.web_changed&.strftime('%x')%>)</p>
      </div>

      <div class="col-md-9 outer-list-col">
        <% web.acts.each do |act| %>
          <div class="row association-row">

            <div class="col-md-5">
              <p><%= icon('fas', 'building', act.act_name) %></p>
              <p><%= icon('fas', 'address-card', act.full_address) %></p>
              <p><%= icon('fas', 'phone', act.phone) %></p>
            </div>

            <div class="col-md-4">
              <p><%= icon('fab', 'google', "Places: #{act.gp_sts}")%>: <%= act.gp_date&.strftime('%x')%></p>
              <p><%= icon('fab', 'google', "# #{act.gp_id}") %></p>
              <p><%= icon('fas', 'map-marker-alt', "#{act.lat}, #{act.lon}") %></p>
            </div>

            <div class="col-md-3">
              <p><%= icon('fas', 'calendar-alt', "Name Updated: #{act.act_changed&.strftime('%x')}" ) %></p>
              <p><%= icon('fas', 'calendar-alt', "Address Updated: #{act.adr_changed&.strftime('%x')}" ) %></p>
              <p><%= icon('fas', 'calendar-alt', "Created: #{act.created_at.strftime('%x')}" ) %></p>
            </div>

          </div>
        <% end %>
      </div>
    </div>

    <div class='row contWrap' style="display:none" id="<%= web.id %>">
      <% if web.conts.any? %>
        <% @conts = web.conts %>
        <%= render 'conts/conts_partial', conts: @conts %>
      <% end %>
    </div>

  <% end %>
</div>


<br>
<%= will_paginate @webs %>
<br>
<br>
