<div class="container">
  <% if @search.present? %>
    <%= search_form_for(@search, html: {:class => "form"}) do |f| %>
    <% temps = @webs.select(:temp_name).where.not(temp_name: nil).pluck(:temp_name).uniq.sort %>



      <% temps.each do |temp_name| %>
        <div class="form-group row">
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag('q[temp_name_in][]', temp_name) %>
              <%= temp_name %>
            </label>
          </div>
        </div>
      <% end %>





      <div class="actions"><%= f.submit "Search" %></div>
      <div class=""><%= link_to("Clear Search", request.path) %></div>
    <% end %>
  <% end %>
</div>
