<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Rooftops</h1>
  </div>
</div>


<div class="row">
  <%= render 'webs/webs_search_partial', search: @search %>
</div>

<div class="row">
  <div class="col-md-12">
    <h5>Search Results: <%= @webs.count %></h5>
  </div>
</div>



<div class="panel outer-panel">

  <% @webs.each do |web| %>
    <div class="row outer-list-row">

      <div class="col-md-3 association-parent">
        <p><%= link_to icon('fas', 'external-link-alt', web.url), web.url, target: '_blank' %></p>
        <p><%= icon('fas', 'car', "Brand: #{get_brands(web)}") %></p>
        <p><%= icon('fas', 'star', "COP: #{web.cop}") %></p>
        <p><%= icon('fas', 'home', "Website: #{web.url_sts}")%>: <%= web.url_date&.strftime('%x')%></p>
        <p><%= icon('fab', 'firstdraft', "Template (#{web.temp_name})")%>: <%= web.temp_sts %> <%= web.tmp_date&.strftime('%x')%></p>
        <p><%= icon('fas', 'link', "Staff Page: #{web.page_sts}")%>: <%= web.page_date&.strftime('%x')%></p>
        <p><%= icon('fas', 'users', "Staff (#{web.conts&.count})")%>: <%= web.cs_sts %> <%= web.cs_date&.strftime('%x')%></p>
        <p><%= icon('fas', 'calendar-alt', "Created: #{web.created_at.strftime('%x')}")%> (Updated: <%= web.web_changed&.strftime('%x')%>)</p>
      </div>


      <div class="col-md-9 outer-list-col">
        <% web.acts.each do |act| %>
          <div class="row association-row">

            <div class="col-md-5">
              <p><%= act.act_name %></p>
              <p><%= act.full_address %></p>
              <p><%= act.phone %></p>
            </div>

            <div class="col-md-4">
              <p>GP ID: <%= act.gp_id %> </p>
              <p>lat: <%= act.lat %> || lon: <%= act.lon %></p>
              <p><%= act.gp_sts %> GP: <%= act.gp_date&.strftime('%x')%></p>
            </div>

            <div class="col-md-3">
              <p>Name Updated (<%= act.act_changed&.strftime('%x') %>)</p>
              <p>Address Updated (<%= act.adr_changed&.strftime('%x') %>)</p>
              <p>Created: <%= act.created_at.strftime('%x')%></p>
            </div>

          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>


<br>
<%= will_paginate @webs %>
<br>
<br>
