<%= render partial: 'shared/webs_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h5>Web Based View (Results: <%= @webs.count %>)</h5>
  </div>
</div>

<% if params[:q].present? %>
  <div class="row">
    <%= link_to generate_csv_webs_path(params), class: 'btn btn-primary btn-xs' do %>
      <i class="fa fa-download" aria-hidden="true"></i> Download CSV
    <% end %>
  </div>
<% end %>



<div class="panel outer-panel">
  <% @webs.each do |web| %>

    <% @web = web %>
    <%= render 'webs/web_details', locals: {web: @web} %>

  <% end %>

  <br>
  <%= will_paginate @webs if @webs.present? %>
  <br>
  <br>
</div>
