<%= render partial: 'shared/webs_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h5>Web Based View (Results: <%= @webs.count %>)</h5>
  </div>
</div>

<% if params[:q].present? %>
  <div class="row">
    <%= link_to generate_csv_webs_path(params), class: 'btn btn-primary btn-xs' do %>
      <i class="fa fa-download" aria-hidden="true"></i> Download CSV
    <% end %>
  </div>
<% end %>



<div class="panel outer-panel">
  <% @webs.each do |web| %>
    <!-- FIND OR CREATE web_activity -->
    <% web_activity = current_user.activities.find_or_create_by(mod_name: 'Web', mod_id: web.id) %>
    <% web_export = Export.find_by(id: web_activity.export_id) %>

    <!-- WEBS SECTION STARTS -->
    <div class="row outer-list-row">
      <div class="col-md-3 association-parent">
        <p><%= link_to(icon('fas', 'home', web.url ), web.url, target: '_blank')%></p>
        <p><%= icon('fas', 'car', get_brands(web)&.join(', ')) %></p>
        <p><%= icon('fas', 'star', web.cop) %></p>
        <p><%= icon('fab', 'firstdraft', "#{web&.tmp_date&.strftime('%x')} #{web.temp_sts} #{web.temp_name}" )%></p>
        <p><%= icon('fas', 'link', "#{web&.page_date&.strftime('%x')} #{web.page_sts}" )%></p>

        <p><%= icon('fas', 'users', "#{web&.cs_date&.strftime('%x')} #{web.cs_sts}" )%>
          <% cont_count = web.conts&.count %>
          <% if cont_count > 0 %>
            | <a href="#" onclick="toggleConts(<%= web.id %>);return false;">Staff (<%= cont_count %>)</a>
          <% end %>
        </p>

        <p><%= icon('fas', 'calendar-alt', "#{web&.created_at&.strftime('%x')} Created")%>
          <% if web.web_changed.present? %>
          | <%= web&.web_changed&.strftime('%x')%>: Updated
          <% end %>
        </p>

        <p><%= icon('fas', 'download', "#{web_export&.export_date&.strftime('%x')} #{web_export&.file_name}" )%></p>

        <!-- WEB: TOGGLE STS PARTIAL - STARTS -->
        <%= render partial: "activities/toggle_sts_partial", locals: { activity: web_activity } %>
      </div>


      <!-- ACTS SECTION BEGINS -->
      <div class="col-md-9 outer-list-col">
        <% web.acts.each do |act| %>
        <!-- FIND OR CREATE web_activity -->
        <% act_activity = current_user.activities.find_or_create_by(mod_name: 'Act', mod_id: act.id) %>
        <% act_export = Export.find_by(id: act_activity.export_id) %>

          <div class="row association-row">

            <div class="col-md-5">
              <p><%= icon('fas', 'building', act.act_name) %></p>
              <p><%= icon('fas', 'address-card', act.full_address) %></p>
              <p><%= icon('fas', 'phone', act.phone) %></p>

              <!-- ACT: TOGGLE STS PARTIAL - STARTS -->
              <%= render partial: "activities/toggle_sts_partial", locals: { activity: act_activity } %>
            </div>

            <div class="col-md-4">
              <p><%= icon('fab', 'google', "Places: #{act.gp_sts}")%>: <%= act.gp_date&.strftime('%x')%></p>
              <p><%= icon('fab', 'google', "# #{act.gp_id}") %></p>
              <p><%= icon('fas', 'map-marker-alt', "#{act.lat}, #{act.lon}") %></p>
              <p><%= icon('fas', 'download', "#{act_export&.export_date&.strftime('%x')} #{act_export&.file_name}" )%></p>
            </div>

            <div class="col-md-3">
              <p><%= icon('fas', 'calendar-alt', "Name Updated: #{act.act_changed&.strftime('%x')}" ) %></p>
              <p><%= icon('fas', 'calendar-alt', "Address Updated: #{act.adr_changed&.strftime('%x')}" ) %></p>
              <p><%= icon('fas', 'calendar-alt', "Created: #{act.created_at.strftime('%x')}" ) %></p>
            </div>

          </div>
        <% end %>
      </div>
    </div>


    <div class='row contWrap' style="display:none" id="<%= web.id %>">
      <% if web.conts.any? %>
        <% @conts = web.conts %>
        <%= render 'conts/conts_list_partial', conts: @conts %>
      <% end %>
    </div>


  <% end %>

  <br>
  <%= will_paginate @webs if @webs.present? %>
  <br>
  <br>
</div>
