<!-- FIND OR CREATE activity -->
<% web_activity = current_user.web_activities.find_or_create_by(web_id: web.id) %>
<% web_export = Export.find_by(id: web_activity.export_id) %>

<!-- WEBS SECTION STARTS -->
<div class="row outer-list-row">
  <div class="col-md-3 association-parent">
    <table class="table details">
      <tr><td colspan="3"><%= link_to(icon('fas', 'home', web.url ), web.url, target: '_blank')%></td></tr>
      <tr><td colspan="3"><%= link_to(icon('fas', 'home', web.fwd_url ), web.url, target: '_blank')%></td></tr>

      <tr>
        <td style="width: 30%;"><%= icon('fas', 'star', web.cop) %></td>
        <!-- WEB: TOGGLE STS PARTIAL - STARTS -->
        <td style="width: 30%;"><%= render 'web_activities/toggle_fav', web_activity: web_activity %></td>
        <td style="width: 30%;"><%= render 'web_activities/toggle_hide', web_activity: web_activity %></td>
      </tr>

      <tr><td colspan="3"><%= icon('fas', 'car', get_brands(web)&.join(', ')) %></td></tr>
      <tr><td colspan="3"><%= icon('fab', 'firstdraft', "#{web&.tmp_date&.strftime('%x')} #{web.temp_sts} #{web.temp_name}" )%></td></tr>
      <tr><td colspan="3"><%= icon('fas', 'link', "#{web&.page_date&.strftime('%x')} #{web.page_sts}" )%></td></tr>

      <tr>
        <td colspan="3"><%= icon('fas', 'users', "#{web&.cs_date&.strftime('%x')} #{web.cs_sts}" )%>
          <% cont_count = web.conts&.count %>

          <% if cont_count > 0 %>
            <%= link_to "Staff (#{cont_count})", show_conts_webs_path(web_id: web.id), onclick: "toggleConts(#{web.id})", remote: true, class: 'btn btn-primary btn-sm' %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td colspan="3"><%= icon('fas', 'calendar-alt', "#{web&.created_at&.strftime('%x')} Created")%>
          <% if web.web_changed.present? %>
          | <%= web&.web_changed&.strftime('%x')%>: Updated
          <% end %>
        </td>
      </tr>

      <tr><td colspan="3"><%= icon('fas', 'download', "#{web_export&.export_date&.strftime('%x')} #{web_export&.file_name}" )%></td></tr>
    </table>
  </div>


  <!-- ACTS SECTION BEGINS -->
  <div class="col-md-9 outer-list-col">
    <% web.acts.each do |act| %>
    <!-- FIND OR CREATE web_activity -->
      <div class="row association-row">
        <%= render 'acts/act_details', act: act %>
      </div>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'webs/show_web_conts', web: web %>
  </div>
</div>
