<%= render partial: 'shared/webs_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h5>Web Based View (Results: <%= @webs.count %>)</h5>
  </div>
</div>

<div class="row">
  <%#= link_to "Export Data", export_webs_path(format: "csv") %>
</div>


<div class="row">
  <%= link_to webs_path(format: "csv"), class: 'btn btn-primary btn-xs' do %>
    <i class="fa fa-download" aria-hidden="true"></i> Download CSV
  <% end %>

  <%= link_to "Export Data 2", webs_path(format: "csv") %>

</div>

<div class="row">
  <%= link_to 'Download CSV-3', webs_path(format: "csv"), class: 'btn btn-primary btn btn-primary btn-xs' %>
</div>


<div class="panel outer-panel">
  <% @webs.each do |web| %>

    <div class="row outer-list-row">
      <div class="col-md-3 association-parent">

        <div class="row">
          <table>
            <tr>
              <td><%= link_to icon('fas', 'home'), web.url, target: '_blank' %></td>
              <td><%= web.url %></td>
            </tr>

            <tr>
              <td><%= icon('fas', 'car') %></td>
              <td><%= get_brands(web)&.join(', ') %></td>
            </tr>

            <tr>
              <td><%= icon('fas', 'star') %></td>
              <td><%= web.cop %></td>
            </tr>

            <tr>
              <td><%= icon('fab', 'firstdraft')%></td>
              <td><%= web.temp_sts %> (<%= web.temp_name %>) <%= web&.tmp_date&.strftime('%x')%></td>
            </tr>

            <tr>
              <td><%= icon('fas', 'link')%></td>
              <td><%= web.page_sts %> <%= web&.page_date&.strftime('%x')%></td>
            </tr>

            <tr>
              <td><%= icon('fas', 'users')%></td>

              <td><%= web.cs_sts %> <%= web.cs_date&.strftime('%x')%>
                <% cont_count = web.conts&.count %>
                <% if cont_count > 0 %>
                  | <a href="#" onclick="toggleConts(<%= web.id %>);return false;">Staff (<%= cont_count %>)</a>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= icon('fas', 'calendar-alt')%></td>
              <td>Created <%= web&.created_at&.strftime('%x')%>
                <% if web.web_changed.present? %>
                  | Updated <%= web&.web_changed&.strftime('%x')%>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= icon('fas', 'download')%></td>
              <td>export date</td>
            </tr>

          </table>
        </div>


        <div class="row btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Fav</button>
          <button type="button" class="btn btn-secondary">Hide</button>
        </div>

      </div>

      <div class="col-md-9 outer-list-col">
        <% web.acts.each do |act| %>
          <div class="row association-row">

            <div class="col-md-5">
              <p><%= icon('fas', 'building', act.act_name) %></p>
              <p><%= icon('fas', 'address-card', act.full_address) %></p>
              <p><%= icon('fas', 'phone', act.phone) %></p>
            </div>

            <div class="col-md-4">
              <p><%= icon('fab', 'google', "Places: #{act.gp_sts}")%>: <%= act.gp_date&.strftime('%x')%></p>
              <p><%= icon('fab', 'google', "# #{act.gp_id}") %></p>
              <p><%= icon('fas', 'map-marker-alt', "#{act.lat}, #{act.lon}") %></p>
            </div>

            <div class="col-md-3">
              <p><%= icon('fas', 'calendar-alt', "Name Updated: #{act.act_changed&.strftime('%x')}" ) %></p>
              <p><%= icon('fas', 'calendar-alt', "Address Updated: #{act.adr_changed&.strftime('%x')}" ) %></p>
              <p><%= icon('fas', 'calendar-alt', "Created: #{act.created_at.strftime('%x')}" ) %></p>
            </div>

          </div>
        <% end %>
      </div>
    </div>


    <div class='row contWrap' style="display:none" id="<%= web.id %>">
      <% if web.conts.any? %>
        <% @conts = web.conts %>
        <%= render 'conts/conts_list_partial', conts: @conts %>
      <% end %>
    </div>


  <% end %>
</div>
