<p id="notice"><%= notice %></p>

<br>
<h1>Websites</h1>
<h3><%= @webs.count %></h3>
<br>

<table class="table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th>URL</th>
      <th>COP</th>

      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @webs.each do |web| %>
      <tr>
        <td><%= link_to web.url, web %></td>
        <td><%= web.cop %></td>

        <td><%= web.created_at.strftime('%x') %></td>
        <td><%= web.updated_at.strftime('%x') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @webs %>
<br>
<br>
