<p id="notice"><%= notice %></p>

<h1>Websites</h1>

<table class="table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th>url</th>
      <th>url_ver_sts</th>
      <th>sts_code</th>
      <th>url_ver_date</th>
      <th>tmp_sts</th>
      <th>temp_name</th>
      <th>tmp_date</th>
      <th>slink_sts</th>
      <th>llink_sts</th>
      <th>stext_sts</th>
      <th>ltext_sts</th>
      <th>pge_date</th>
      <th>as_sts</th>
      <th>as_date</th>
      <th>cs_sts</th>
      <th>cs_date</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
  </thead>

  <tbody>
    <% @webs.each do |web| %>
      <tr>
        <td><%= link_to web.url, web %></td>
        <td><%= web.url_ver_sts %></td>
        <td><%= web.sts_code %></td>
        <td><%= web.url_ver_date&.strftime('%x') %></td>
        <td><%= web.tmp_sts %></td>
        <td><%= web.temp_name %></td>
        <td><%= web.tmp_date&.strftime('%x') %></td>
        <td><%= web.slink_sts %></td>
        <td><%= web.llink_sts %></td>
        <td><%= web.stext_sts %></td>
        <td><%= web.ltext_sts %></td>
        <td><%= web.pge_date&.strftime('%x') %></td>
        <td><%= web.as_sts %></td>
        <td><%= web.as_date&.strftime('%x') %></td>
        <td><%= web.cs_sts %></td>
        <td><%= web.cs_date&.strftime('%x') %></td>
        <td><%= web.created_at.strftime('%x') %></td>
        <td><%= web.updated_at.strftime('%x') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @webs %>
<br>
<br>
