<% cont_queries = @user.queries.where(mod_name: 'Cont').order("updated_at DESC") %>
<% cont_queries&.each do |cont_query| %>
  <% params[:query_id] = cont_query.id %>

  <tr>
    <td>Contacts</td>
    <td><%= number_with_delimiter(cont_query.row_count, :delimiter => ',') %></td>
    <td><%= link_to cont_query.q_name, search_conts_path({q: cont_query.params['q']}), class: 'btn btn-default btn-lg' %></td>
    <td><%= cont_query.created_at.strftime('%x') %></td>

    <td><%= link_to "Follow", follow_all_queries_path(params), class: 'btn btn-primary btn-sm' %></td>
    <td><%= link_to "Reset", unfollow_all_queries_path(params), class: 'btn btn-default btn-sm' %></td>
    <td><%= link_to "Hide", hide_all_queries_path(params), class: 'btn btn-danger btn-sm' %></td>
    <td><%= link_to "Reset", unhide_all_queries_path(params), class: 'btn btn-default btn-sm' %></td>
  </tr>
<% end %>
