<div>
  <% if @current_user && (@current_user == user || @current_user.role == "admin") %>
  <div class="row">

    <div class="col-sm-4">

      <div class="team-member">
        <img class="mx-auto rounded-circle" <%#= image_tag "logo.png" %>
        <h4><%= link_to user.username.capitalize, user %></h4>
        <p class="text-muted">Local Host</p>
        <p class="text-muted"><%= user.email %></p>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <%= link_to edit_user_path do %>
              <%= icon('fas', 'user')%>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('fas', 'trash') %>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%#= link_to new_space_path do %>
            <%= icon('fas', 'pencil', 'new_space') %>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-md-8 tracks-details">

      <h3> Your Tracks </h3>
      <% user&.tracks.each do |track| %>
        <p><%= link_to track.track, track_path(track) %></p>
      <% end %>

      <hr>

      <h3> Your CSV Links </h3>
      <% user&.tracks.each do |track| %>
        <p>
          <strong>Track Cat1:</strong> <%track = Track.first %><%= link_to track.track, track_path(track) %> |
          <strong>Track Cat2:</strong> <%=track.created_at.strftime("%a %b %d, %Y")%> - <%=track.updated_at.strftime("%a %b %d, %Y")%> |
          <%= link_to track, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon('fas', 'trash') %>
          <%end%>
        </p>
      <% end %>

      <hr>

    </div>

  <% end %>
</div>
