<p id="notice"><%= notice %></p>

<!-- ## ENSURES ACTIVITIES CREATED FOR USER -->
<% create_all_activities(current_user.id) %>

<!-- User Profile -->
<div class="panel">
  <h6>User Profile</h6>
  <div class="row">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Registered</th>
          <th>Updated</th>
        </tr>
      </thead>

      <tr>
        <td><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></td>
        <td><%= @user.email %></td>
        <td><%= @user.phone %></td>
        <td><%= @user.role.capitalize %></td>
        <td><%= @user.created_at.strftime('%x') %></td>
        <td><%= @user.updated_at.strftime('%x') %></td>
      </tr>
    </table>
  </div>
</div>

<br>

<!-- Following & Hidden -->
<div class="panel">

  <div class="row">
    <!-- Following & Hidden -->
    <div class="col-md-4">
      <h6 class="text-center">Following & Hidden</h6>

      <% get_followed_act_ids_count = get_followed_act_ids(nil)&.count %>
      <% get_hidden_act_ids_count = get_hidden_act_ids(nil)&.count %>
      <% get_followed_cont_ids_count = get_followed_cont_ids(nil)&.count %>
      <% get_hidden_cont_ids_count = get_hidden_cont_ids(nil)&.count %>
      <% get_followed_web_ids_count = get_followed_web_ids(nil)&.count %>
      <% get_hidden_web_ids_count = get_hidden_web_ids(nil)&.count %>
      <% params[:source_path] = 'user_path' %>

      <!-- Followed & Hidden Acts -->
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th colspan='2' class='text-center'>Followed</th>
            <th colspan='2' class='text-center'>Hidden</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>Accounts</td>
            <td><%= link_to number_with_delimiter(get_followed_act_ids_count, :delimiter => ','), followed_acts_webs_path(params), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to "Reset", unfollow_all_act_activities_path(params), class: 'btn btn-default btn-sm' %></td>
            <td><%= link_to number_with_delimiter(get_hidden_act_ids_count, :delimiter => ','), hidden_acts_webs_path(params), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to "Reset", unhide_all_act_activities_path(params), class: 'btn btn-default btn-sm' %></td>
          </tr>

          <tr>
            <td>Contacts</td>
            <td><%= link_to number_with_delimiter(get_followed_cont_ids_count, :delimiter => ','), followed_conts_path(params), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to "Reset", unfollow_all_cont_activities_path(params), class: 'btn btn-default btn-sm' %></td>
            <td><%= link_to number_with_delimiter(get_hidden_cont_ids_count, :delimiter => ','), hidden_conts_path(params), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to "Reset", unhide_all_cont_activities_path(params), class: 'btn btn-default btn-sm' %></td>
          </tr>

          <tr>
            <td>Websites</td>
            <td><%= link_to number_with_delimiter(get_followed_web_ids_count, :delimiter => ','), followed_webs_path(params), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to "Reset", unfollow_all_web_activities_path(params), class: 'btn btn-default btn-sm' %></td>
            <td><%= link_to number_with_delimiter(get_hidden_web_ids_count, :delimiter => ','), hidden_webs_path(params), class: 'btn btn-primary btn-sm' %></td>
            <td><%= link_to "Reset", unhide_all_web_activities_path(params), class: 'btn btn-default btn-sm' %></td>
          </tr>

        </tbody>
      </table>

    </div>

    <!-- Saved Searches -->
    <div class="col-md-8">
      <!-- Saved Account Searches -->
      <h6 class="text-center">Saved Searches</h6>
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Size</th>
            <th class='text-center'>Search Name</th>
            <th>Created</th>
            <th colspan="2" class="text-center">Follow</th>
            <th colspan="2" class="text-center">Hide</th>
          </tr>
        </thead>
        <tbody>

          <% cont_queries = @user.queries.where(mod_name: 'Cont').order("updated_at DESC") %>
          <% cont_queries&.each do |cont_query| %>
            <% params[:query_id] = cont_query.id %>

            <tr>
              <td>Contacts</td>
              <td><%= number_with_delimiter(cont_query.row_count, :delimiter => ',') %></td>
              <td><%= link_to cont_query.q_name, search_conts_path({q: cont_query.params['q']}), class: 'btn btn-default btn-lg' %></td>
              <td><%= cont_query.created_at.strftime('%x') %></td>

              <td><%= link_to "Follow", follow_all_queries_path(params), class: 'btn btn-primary btn-sm' %></td>
              <td><%= link_to "Reset", unfollow_all_queries_path(params), class: 'btn btn-default btn-sm' %></td>
              <td><%= link_to "Hide", hide_all_queries_path(params), class: 'btn btn-danger btn-sm' %></td>
              <td><%= link_to "Reset", unhide_all_queries_path(params), class: 'btn btn-default btn-sm' %></td>
            </tr>
          <% end %>


          <% web_queries = @user.queries.where(mod_name: 'Web').order("updated_at DESC") %>
          <% web_queries&.each do |web_query| %>
            <% params[:query_id] = web_query.id %>

            <tr>
              <td>Websites</td>
              <td><%= number_with_delimiter(web_query.row_count, :delimiter => ',') %></td>
              <td><%= link_to web_query.q_name, search_webs_path({q: web_query.params['q']}), class: 'btn btn-default btn-lg' %></td>
              <td><%= web_query.created_at.strftime('%x') %></td>

              <td><%= link_to "Follow", follow_all_queries_path(params), class: 'btn btn-primary btn-sm' %></td>
              <td><%= link_to "Reset", unfollow_all_queries_path(params), class: 'btn btn-default btn-sm' %></td>
              <td><%= link_to "Hide", hide_all_queries_path(params), class: 'btn btn-danger btn-sm' %></td>
              <td><%= link_to "Reset", unhide_all_queries_path(params), class: 'btn btn-default btn-sm' %></td>

            </tr>
          <% end %>

        </tbody>
      </table>

    </div>

</div>


<!-- Exports -->
<div class="panel">
  <div class="row">

      <!-- Exports -->
      <div class="col-md-4">
        <h6 class="text-center">Exports</h6>
        <table class="table">
          <thead>
            <tr>
              <th>file_name</th>
              <th>export_date</th>
            </tr>
          </thead>
          <tbody>
            <% exports = @user.exports %>
            <% exports.each do |export| %>
            <tr>
              <td><%= export.file_name %></td>
              <td><%= export.export_date.strftime('%x') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>


<br>
<br>
