<nav class="container sidebar">

  <% if @cq.present? %>

    <%= search_form_for(@cq, url: search_conts_path, html: {method: :post, class: 'form'}) do |f| %>

    <% job_titles = @conts.select(:job_title).where.not(job_title: nil).pluck(:job_title).uniq.sort %>
    <% cs_stss = @conts.select(:cs_sts).where.not(cs_sts: nil).pluck(:cs_sts).uniq.sort %>


      <!-- SEARCH SECTION - START -->
      <h6 class="text-center sidebar-header">Search Criteria</h6>
      <ul class="components">
        <!-- SEARCH CONTCONTS - START -->

        <li>
          <a class="dropdown-toggle" href="#cont-criteria" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'users', 'Contact Criteria') %>
          </a>
          <ul class="collapse list-unstyled" id="cont-criteria">

            <table class="ransack-table table table-bordered text-nowrap">
              <%= f.hidden_field :cont_activities_user_id_eq, value: current_user.id  %>
              <tr>
                <td>
                  <%= check_box_tag('q[cont_activities_fav_sts_in][]', true ) %>
                  <%= 'Following' %>
                </td>
                <td>
                  <%= check_box_tag('q[cont_activities_fav_sts_not_in][]', true ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[cont_activities_hide_sts_in][]', true ) %>
                  <%= 'Hidden' %>
                </td>
                <td>
                  <%= check_box_tag('q[cont_activities_hide_sts_not_in][]', true ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[email_not_null]' ) %>
                  <%= 'Email' %>
                </td>
                <td>
                  <%= check_box_tag('q[email_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[cont_changed_not_null]' ) %>
                  <%= 'Contact Changed' %>
                </td>
                <td>
                  <%= check_box_tag('q[cont_changed_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[email_changed_not_null]' ) %>
                  <%= 'Email Changed' %>
                </td>
                <td>
                  <%= check_box_tag('q[email_changed_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[job_changed_not_null]' ) %>
                  <%= 'Job Changed' %>
                </td>
                <td>
                  <%= check_box_tag('q[job_changed_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[cx_date_not_null]' ) %>
                  <%= 'Contact X' %>
                </td>
                <td>
                  <%= check_box_tag('q[cx_date_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>
            </table>





            <!-- Search Conts (General-Table) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr class="text-center">
                  <th>Category</th>
                  <th>Criteria</th>
                </tr>
              </thead>

              <tr>
                <td class="w10">Full Name</td>
                <td class="w90"><%= f.search_field :full_name_cont_any %></td>
              </tr>

              <tr>
                <td class="w10">First Name</td>
                <td class="w90"><%= f.search_field :first_name_cont_any %></td>
              </tr>

              <tr>
                <td class="w10">Last Name</td>
                <td class="w90"><%= f.search_field :last_name_cont_any %></td>
              </tr>

              <tr>
                <td class="w10">Job Title</td>
                <td class="w90"><%= f.search_field :job_title_cont_any %></td>
              </tr>

              <tr>
                <td class="w10">Job Desc</td>
                <td class="w90"><%= f.search_field :job_desc_cont_any %></td>
              </tr>

              <tr>
                <td class="w10">Email</td>
                <td class="w90"><%= f.search_field :email_cont_any %></td>
              </tr>

              <tr>
                <td class="w10">Phone</td>
                <td class="w90"><%= f.search_field :phone_cont_any %></td>
              </tr>
            </table>



            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Job Titles</th>
                </tr>
              </thead>
              <% job_titles&.each_with_index do |job_title, index| %>
                <% if index.even? %>
                  <tr>
                    <!-- LEFT -->
                    <td>
                      <%= check_box_tag('q[job_title_in][]', job_title) %>
                      <%= job_title %>
                    </td>
                  <% else %>
                    <!-- RIGHT -->
                    <td>
                      <%= check_box_tag('q[job_title_in][]', job_title) %>
                      <%= job_title %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>



            <!-- Search Conts (Dates-Table) -->
            <table class="ransack-table table table-bordered text-nowrap text-center">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
              </thead>

              <!-- cs_date -->
              <tr>
                <td>Email Changed</td>
                <td><%= f.date_field :email_changed_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :email_changed_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- cont_changed -->
              <tr>
                <td>Contact Changed</td>
                <td><%= f.date_field :cont_changed_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :cont_changed_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- job_changed -->
              <tr>
                <td>Job Changed</td>
                <td><%= f.date_field :job_changed_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :job_changed_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- cx_date -->
              <tr>
                <td>Contact X</td>
                <td><%= f.date_field :cx_date_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :cx_date_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- updated_at -->
              <tr>
                <td>Contact Updated</td>
                <td><%= f.date_field :updated_at_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :updated_at_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- created_at -->
              <tr>
                <td>Contact Created</td>
                <td><%= f.date_field :created_at_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :created_at_lteq, {class: 'ransack-date-input'} %></td>
              </tr>
            </table>

          </ul>
        </li>

      </ul>


      <!-- SORT SECTION - START -->
      <h6 class="text-center sidebar-header">
        <%= icon('fas', 'sort', 'Sort Options', class: 'fa-pull-right') %>
      </h6>

      <ul class="components">

        <!-- SORT CONTS - START -->
        <li>
          <a class="dropdown-toggle" href="#sort-options-acts" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'users', 'Contact Sort') %>
          </a>
          <ul class="collapse" id="sort-options-acts">

            <!-- Sort Conts (General-1) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">General</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@cq, :full_name) do %>
                    <span><%= icon('fas', 'user', 'Full Name') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :last_name) do %>
                    <span><%= icon('fas', 'user', 'Last Name') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :job_title) do %>
                    <span><%= icon('fas', 'briefcase', 'Job Title') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :job_desc) do %>
                    <span><%= icon('fas', 'briefcase', 'Job Desc') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :email) do %>
                    <span><%= icon('fas', 'at', 'Email') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :phone) do %>
                    <span><%= icon('fas', 'phone', 'Phone') %></span>
                  <% end %>
                </td>
              </tr>

              </tr>
            </table>


            <!-- Sort Conts (Dates-3) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Dates</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@cq, :cs_date) do %>
                    <span><%= icon('fas', 'user', 'Scraped') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :email_changed) do %>
                    <span><%= icon('fas', 'at', 'Email Changed') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :cont_changed) do %>
                    <span><%= icon('fas', 'user', 'Cont Changed') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :job_changed) do %>
                    <span><%= icon('fas', 'briefcase', 'Job Changed') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :cx_date) do %>
                    <span><%= icon('fas', 'user', 'Contact X') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :created_at) do %>
                    <span><%= icon('fas', 'user', 'Created') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :updated_at) do %>
                    <span><%= icon('fas', 'user', 'Updated') %></span>
                  <% end %>
                </td>

                <td></td>
              </tr>
            </table>

          </ul>
        </li>

      </ul>

      <!-- Save & Name Search Field -->
      <div class="form-group">
        <%= f.text_field :q_name_cont_any, placeholder: "Save search as ..", class: "form-control" %>
      </div>

      <div class="row">
        <div class="actions col-md-6"><%= f.submit "Search", class: "btn btn-primary search-btns"%></div>
        <div class="col-md-6"><%= button_tag "Reset", type: :reset, class: "btn btn-danger search-btns" %></div>
      </div>



    <% end %>


    <!-- SAVED SEARCHES SECTION - START -->
    <!-- <h6 class="text-center sidebar-header">Saved Searches</h6> -->
    <ul class="components">
      <li>
        <a class="dropdown-toggle" href="#saved-search-conts" data-toggle="collapse" aria-expanded="false">
          <%= icon('fas', 'search', 'Saved Searches') %>
        </a>
        <ul class="collapse" id="saved-search-conts">
          <!-- SAVED SEARCH LIST - START -->
          <table class="table">
            <% queries = current_user&.queries&.where(mod_name: 'Cont')&.order("updated_at DESC") %>
            <% queries&.each do |query| %>
              <tr>
                <%= link_to query.q_name, search_conts_path({q: query.params['q']}) %>
              </tr>
            <% end %>
          </table>
        </ul>
      </li>
    </ul>


  <% end %>

</nav>
