<nav class="container sidebar">

  <% if @cq.present? %>

    <%= search_form_for(@cq, url: search_conts_path, html: {method: :post, class: 'form'}) do |f| %>

      <!-- SEARCH SECTION - START -->
      <h5 class="text-center sidebar-header">Search Criteria</h5>
      <ul class="components">
        <!-- SEARCH CONTCONTS - START -->


        <!-- user: <%#= current_user.id %> -->
        <td><%= f.hidden_field :cont_activities_user_id_eq, value: current_user.id  %></td>
        <tr>
          <td>Cont Activities: Fav</td>
          <td><%= f.search_field :cont_activities_fav_sts_eq %></td>
        </tr>
        <tr>
          <td>Cont Activities: Hide</td>
          <td><%= f.search_field :cont_activities_hide_sts_eq %></td>
        </tr>



        <td><%= f.hidden_field :act_activities_user_id_eq, value: current_user.id  %></td>
        <tr>
          <td>Act Activities: Fav</td>
          <td><%= f.search_field :act_activities_fav_sts_eq %></td>
        </tr>

        <tr>
          <td>Act Activities: Hide</td>
          <td><%= f.search_field :act_activities_hide_sts_eq %></td>
        </tr>




        <li>
          <a class="dropdown-toggle" href="#cont-criteria" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'users', 'Contact Criteria') %>
          </a>
          <ul class="collapse list-unstyled" id="cont-criteria">
            <!-- Search Contacts (General-1) -->
            <li>
              <a class="dropdown-toggle" href="#search-criteria-conts-general" data-toggle="collapse" aria-expanded="false">
                <%= icon('far', 'list-alt', 'General') %>
              </a>

              <ul class="collapse list-unstyled" id="search-criteria-conts-general">
                <!-- Search Criteria Here -->
              </ul>
            </li>

            <!-- Search Contacts (Status-2) -->
            <li>
              <a class="dropdown-toggle" href="#search-criteria-conts-status" data-toggle="collapse" aria-expanded="false">
                <%= icon('far', 'check-square', 'Status') %>
              </a>

              <ul class="collapse list-unstyled" id="search-criteria-conts-status">
                  <!-- Search Criteria Here -->
              </ul>
            </li>

            <!-- Search Contacts (Dates-3) -->
            <li>
              <a class="dropdown-toggle" href="#search-criteria-conts-dates" data-toggle="collapse" aria-expanded="false">
                <%= icon('fas', 'calendar-alt', 'Dates') %>
              </a>
              <ul class="collapse list-unstyled" id="search-criteria-conts-dates">
                <!-- Search Conts (Dates-Table) -->
                <div class="row">
                  <table class="ransack-table table table-bordered text-nowrap text-center">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>Start</th>
                        <th>End</th>
                      </tr>
                    </thead>

                    <!-- cs_date -->
                    <tr>
                      <td>email_changed</td>
                      <td><%= f.date_field :email_changed_gteq, {class: 'ransack-date-input'} %></td>
                      <td><%= f.date_field :email_changed_lteq, {class: 'ransack-date-input'} %></td>
                    </tr>

                    <!-- cont_changed -->
                    <tr>
                      <td>cont_changed</td>
                      <td><%= f.date_field :cont_changed_gteq, {class: 'ransack-date-input'} %></td>
                      <td><%= f.date_field :cont_changed_lteq, {class: 'ransack-date-input'} %></td>
                    </tr>

                    <!-- job_changed -->
                    <tr>
                      <td>job_changed</td>
                      <td><%= f.date_field :job_changed_gteq, {class: 'ransack-date-input'} %></td>
                      <td><%= f.date_field :job_changed_lteq, {class: 'ransack-date-input'} %></td>
                    </tr>

                    <!-- cx_date -->
                    <tr>
                      <td>cx_date</td>
                      <td><%= f.date_field :cx_date_gteq, {class: 'ransack-date-input'} %></td>
                      <td><%= f.date_field :cx_date_lteq, {class: 'ransack-date-input'} %></td>
                    </tr>

                    <!-- updated_at -->
                    <tr>
                      <td>Contact Updated</td>
                      <td><%= f.date_field :updated_at_gteq, {class: 'ransack-date-input'} %></td>
                      <td><%= f.date_field :updated_at_lteq, {class: 'ransack-date-input'} %></td>
                    </tr>

                    <!-- created_at -->
                    <tr>
                      <td>Contact Created</td>
                      <td><%= f.date_field :created_at_gteq, {class: 'ransack-date-input'} %></td>
                      <td><%= f.date_field :created_at_lteq, {class: 'ransack-date-input'} %></td>
                    </tr>
                  </table>
                </div>
              </ul>
            </li>

          </ul>
        </li>

      </ul>


      <!-- SORT SECTION - START -->
      <h5 class="text-center sidebar-header">
        <%= icon('fas', 'sort', 'Sort Options', class: 'fa-pull-right') %>
      </h5>

      <ul class="components">

        <!-- SORT CONTS - START -->
        <li>
          <a class="dropdown-toggle" href="#sort-options-acts" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'users', 'Contact Sort') %>
          </a>
          <ul class="collapse" id="sort-options-acts">

            <!-- Sort Conts (General-1) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">General</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@cq, :full_name) do %>
                    <span><%= icon('fas', 'user', 'full_name') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :last_name) do %>
                    <span><%= icon('fas', 'user', 'last_name') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :job_title) do %>
                    <span><%= icon('fas', 'user', 'job_title') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :job_desc) do %>
                    <span><%= icon('fas', 'star', 'job_desc') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :email) do %>
                    <span><%= icon('fas', 'star', 'email') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :phone) do %>
                    <span><%= icon('fas', 'star', 'phone') %></span>
                  <% end %>
                </td>
              </tr>

              </tr>
            </table>

            <!-- Sort Conts (Status-2) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Status</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@cq, :cs_sts) do %>
                    <span><%= icon('fas', 'user', 'cs_sts') %></span>
                  <% end %>
                </td>

                <td></td>
              </tr>
            </table>

            <!-- Sort Conts (Dates-3) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Dates</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@cq, :cs_date) do %>
                    <span><%= icon('fas', 'user', 'cs_date') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :email_changed) do %>
                    <span><%= icon('fas', 'user', 'email_changed') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :cont_changed) do %>
                    <span><%= icon('fas', 'user', 'cont_changed') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :job_changed) do %>
                    <span><%= icon('fas', 'user', 'job_changed') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :cx_date) do %>
                    <span><%= icon('fas', 'user', 'cx_date') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@cq, :created_at) do %>
                    <span><%= icon('fas', 'user', 'created_at') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@cq, :updated_at) do %>
                    <span><%= icon('fas', 'user', 'updated_at') %></span>
                  <% end %>
                </td>

                <td></td>
              </tr>
            </table>

          </ul>
        </li>

      </ul>

      <!-- Save & Name Search Field -->
      <div class="form-group">
        <%= f.text_field :q_name_cont_any, placeholder: "Save search as ..", class: "form-control" %>
      </div>

      <div class="row">
        <div class="actions col-md-6"><%= f.submit "Search", class: "btn btn-primary btn-xs"%></div>
        <div class="col-md-6"><%= button_tag "Reset", type: :reset, class: "btn btn-danger btn-xs" %></div>
      </div>



    <% end %>


    <!-- SAVED SEARCHES SECTION - START -->
    <h5 class="text-center sidebar-header">Saved Searches</h5>
    <ul class="components">
      <li>
        <a class="dropdown-toggle" href="#saved-search-conts" data-toggle="collapse" aria-expanded="false">
          <%= icon('fas', 'search', 'Saved Searches') %>
        </a>
        <ul class="collapse" id="saved-search-conts">
          <!-- SAVED SEARCH LIST - START -->
          <table class="table">
            <% queries = current_user&.queries&.where(mod_name: 'Cont')&.order("updated_at DESC") %>
            <% queries&.each do |query| %>
              <tr>
                <%= link_to query.q_name, search_conts_path({q: query.params['q']}) %>
              </tr>
            <% end %>
          </table>
        </ul>
      </li>
    </ul>


  <% end %>

</nav>
