<nav class="container sidebar">

  <% if @cq.present? %>

    <%= search_form_for(@cq, url: search_conts_path, html: {method: :post, class: 'form'}) do |f| %>

    <% cont_opts = get_ransack_cont_opts %>
    <% target_titles = cont_opts['target_titles'] %>
    <% common_titles = cont_opts['common_titles'] %>

    <% act_opts = get_ransack_act_opts %>
    <% states = act_opts['states'] %>
    <% gp_stss = act_opts['gp_stss'] %>

    <% web_opts = get_ransack_web_opts %>
    <% temps = web_opts['temps'] %>
    <% brands = web_opts['brands'] %>
    <% cops = web_opts['cops'] %>
    <% url_stss = web_opts['url_stss'] %>
    <% temp_stss = web_opts['temp_stss'] %>
    <% page_stss = web_opts['page_stss'] %>
    <% cs_stss = web_opts['cs_stss'] %>

      <!-- SEARCH SECTION - START -->
      <h6 class="text-center sidebar-header">Search Criteria</h6>
      <ul class="components">

        <!-- SEARCH ACCOUNTS - START -->
        <li>
          <a class="dropdown-toggle" href="#act-criteria" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'building', 'Account Criteria') %>
          </a>
          <ul class="collapse" id="act-criteria">
            <div class="panel sidebar-panel">


              <!-- Search Acts (General-1) -->
            <table class="ransack-table table  text-nowrap">
              <%= f.hidden_field :act_activities_user_id_eq, value: current_user.id  %>

              <tr>
                <td>
                  <%= check_box_tag('q[act_activities_fav_sts_in][]', true ) %>
                  <%= 'Following' %>
                </td>
                <td>
                  <%= check_box_tag('q[act_activities_fav_sts_not_in][]', true ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[act_activities_hide_sts_in][]', true ) %>
                  <%= 'Hidden' %>
                </td>
                <td>
                  <%= check_box_tag('q[act_activities_hide_sts_not_in][]', true ) %>
                  <%= 'None' %>
                </td>
              </tr>
            </table>


            <!-- Search Acts (General-Table) -->
            <table class="ransack-table table  text-nowrap">

              <!-- Search Acts (Account Name) -->
              <tr>
                <td class="w25">Account Name</td>
                <td class="w75"><%= f.search_field :acts_act_name_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (Full Address) -->
              <tr>
                <td class="w25">Full Address</td>
                <td class="w75"><%= f.search_field :acts_full_address_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (Street) -->
              <tr>
                <td class="w25">Street</td>
                <td class="w75"><%= f.search_field :acts_street_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (City) -->
              <tr>
                <td class="w25">City</td>
                <td class="w75"><%= f.search_field :acts_city_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (Zip) -->
              <tr>
                <td class="w25">Zip</td>
                <td class="w75"><%= f.search_field :acts_zip_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (Phone) -->
              <tr>
                <td class="w25">Phone</td>
                <td class="w75"><%= f.search_field :acts_phone_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (Lat) -->
              <tr>
                <td class="w25">Lat</td>
                <td class="w75"><%= f.search_field :acts_lat_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (Lon) -->
              <tr>
                <td class="w25">Lon</td>
                <td class="w75"><%= f.search_field :acts_lon_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <!-- Search Acts (GP ID) -->
              <tr>
                <td class="w25">GP ID</td>
                <td class="w75"><%= f.search_field :acts_gp_id_eq_any, class: "form-control ransack-input" %></td>
              </tr>
            </table>


            <table class="ransack-table table  text-nowrap">
              <% states&.each_with_index do |state, index| %>
                <% if index.even? %>
                  <tr>
                    <!-- LEFT -->
                    <td>
                      <%= check_box_tag('q[acts_state_in][]', state) %>
                      <%= state %>
                    </td>
                  <% else %>
                    <!-- RIGHT -->
                    <td>
                      <%= check_box_tag('q[acts_state_in][]', state) %>
                      <%= state %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>


            <table class="ransack-table table  text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">GP Status</th>
                </tr>
              </thead>
              <% gp_stss&.each_with_index do |gp_sts, index| %>
                <% if index.even? %>
                  <tr>
                    <!-- LEFT -->
                    <td>
                      <%= check_box_tag('q[acts_gp_sts_in][]', gp_sts) %>
                      <%= gp_sts %>
                    </td>
                  <% else %>
                    <!-- RIGHT -->
                    <td>
                      <%= check_box_tag('q[acts_gp_sts_in][]', gp_sts) %>
                      <%= gp_sts %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>

              <!-- Search Acts (Dates-3) -->
              <div class="row">
                <table class="ransack-table table  text-nowrap text-center">

                  <!-- gp_date -->
                  <tr>
                    <td>GP Verified</td>
                    <td><%= f.date_field :acts_gp_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_gp_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- adr_changed -->
                  <tr>
                    <td>Address Updated</td>
                    <td><%= f.date_field :acts_adr_changed_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_adr_changed_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- act_changed -->
                  <tr>
                    <td>Acct-Name Updated</td>
                    <td><%= f.date_field :acts_act_changed_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_act_changed_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- ax_date -->
                  <tr>
                    <td>Account InActive</td>
                    <td><%= f.date_field :acts_ax_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_ax_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- updated_at -->
                  <tr>
                    <td>Account Updated</td>
                    <td><%= f.date_field :acts_updated_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_updated_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- created_at -->
                  <tr>
                    <td>Account Created</td>
                    <td><%= f.date_field :acts_created_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_created_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                </table>
              </div>
            </div>
          </ul>
        </li>


        <!-- SEARCH CONTS - START -->
        <li>
          <a class="dropdown-toggle" href="#cont-criteria" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'users', 'Contact Criteria') %>
          </a>
          <ul class="collapse list-unstyled" id="cont-criteria">

            <table class="ransack-table table table-bordered text-nowrap">
              <%= f.hidden_field :cont_activities_user_id_eq, value: current_user.id  %>
              <tr>
                <td>
                  <%= check_box_tag('q[cont_activities_fav_sts_in][]', true ) %>
                  <%= 'Following' %>
                </td>
                <td>
                  <%= check_box_tag('q[cont_activities_fav_sts_not_in][]', true ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[cont_activities_hide_sts_in][]', true ) %>
                  <%= 'Hidden' %>
                </td>
                <td>
                  <%= check_box_tag('q[cont_activities_hide_sts_not_in][]', true ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[email_not_null]' ) %>
                  <%= 'Email' %>
                </td>
                <td>
                  <%= check_box_tag('q[email_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[cont_changed_not_null]' ) %>
                  <%= 'Profile Updated' %>
                </td>
                <td>
                  <%= check_box_tag('q[cont_changed_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[email_changed_not_null]' ) %>
                  <%= 'Email Updated' %>
                </td>
                <td>
                  <%= check_box_tag('q[email_changed_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[job_changed_not_null]' ) %>
                  <%= 'Job Updated' %>
                </td>
                <td>
                  <%= check_box_tag('q[job_changed_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= check_box_tag('q[cx_date_not_null]' ) %>
                  <%= 'Contact X' %>
                </td>
                <td>
                  <%= check_box_tag('q[cx_date_null]' ) %>
                  <%= 'None' %>
                </td>
              </tr>
            </table>





            <!-- Search Conts (General-Table) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr class="text-center">
                  <th>Category</th>
                  <th>Criteria</th>
                </tr>
              </thead>

              <tr>
                <td class="w20">Full Name</td>
                <td class="w80"><%= f.search_field :full_name_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <tr>
                <td class="w20">First Name</td>
                <td class="w80"><%= f.search_field :first_name_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <tr>
                <td class="w20">Last Name</td>
                <td class="w80"><%= f.search_field :last_name_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <tr>
                <td class="w20">Job Title</td>
                <td class="w80"><%= f.search_field :job_title_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <tr>
                <td class="w20">Job Desc</td>
                <td class="w80"><%= f.search_field :job_desc_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <tr>
                <td class="w20">Email</td>
                <td class="w80"><%= f.search_field :email_cont_any, class: "form-control ransack-input" %></td>
              </tr>

              <tr>
                <td class="w20">Phone</td>
                <td class="w80"><%= f.search_field :phone_cont_any, class: "form-control ransack-input" %></td>
              </tr>
            </table>



            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Target Job Titles</th>
                </tr>
              </thead>
              <% target_titles&.each_with_index do |target_title, index| %>
                <% if index.even? %>
                  <tr>
                    <!-- LEFT -->
                    <td>
                      <%= check_box_tag('q[job_title_in][]', target_title) %>
                      <%= target_title %>
                    </td>
                  <% else %>
                    <!-- RIGHT -->
                    <td>
                      <%= check_box_tag('q[job_title_in][]', target_title) %>
                      <%= target_title %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>



            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Common Job Titles</th>
                </tr>
              </thead>
              <% common_titles&.each_with_index do |common_title, index| %>
                <% if index.even? %>
                  <tr>
                    <!-- LEFT -->
                    <td>
                      <%= check_box_tag('q[job_title_in][]', common_title) %>
                      <%= common_title %>
                    </td>
                  <% else %>
                    <!-- RIGHT -->
                    <td>
                      <%= check_box_tag('q[job_title_in][]', common_title) %>
                      <%= common_title %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>




            <!-- Search Conts (Dates-Table) -->
            <table class="ransack-table table table-bordered text-nowrap text-center">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
              </thead>

              <!-- cs_date -->
              <tr>
                <td>Email Updated</td>
                <td><%= f.date_field :email_changed_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :email_changed_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- cont_changed -->
              <tr>
                <td>Contact Updated</td>
                <td><%= f.date_field :cont_changed_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :cont_changed_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- job_changed -->
              <tr>
                <td>Job Updated</td>
                <td><%= f.date_field :job_changed_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :job_changed_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- cx_date -->
              <tr>
                <td>Contact X</td>
                <td><%= f.date_field :cx_date_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :cx_date_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- updated_at -->
              <tr>
                <td>Contact Updated</td>
                <td><%= f.date_field :updated_at_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :updated_at_lteq, {class: 'ransack-date-input'} %></td>
              </tr>

              <!-- created_at -->
              <tr>
                <td>Contact Created</td>
                <td><%= f.date_field :created_at_gteq, {class: 'ransack-date-input'} %></td>
                <td><%= f.date_field :created_at_lteq, {class: 'ransack-date-input'} %></td>
              </tr>
            </table>

          </ul>
        </li>


        <!-- SEARCH WEBS - START -->
        <li>
          <a class="dropdown-toggle" href="#web-criteria" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'external-link-alt', 'Web Criteria') %>
          </a>
          <ul class="collapse" id="web-criteria">
            <div class="panel sidebar-panel">


              <table class="ransack-table table text-nowrap">
                <%= f.hidden_field :web_activities_user_id_eq, value: current_user.id  %>
                <tr>
                  <td class="w50">
                    <%= check_box_tag('q[web_activities_fav_sts_in][]', true ) %>
                    <%= 'Following' %>
                  </td>
                  <td class="w50">
                    <%= check_box_tag('q[web_activities_fav_sts_not_in][]', true ) %>
                    <%= 'None' %>
                  </td>
                </tr>

                <tr>
                  <td class="w50">
                    <%= check_box_tag('q[web_activities_hide_sts_in][]', true ) %>
                    <%= 'Hidden' %>
                  </td>
                  <td class="w50">
                    <%= check_box_tag('q[web_activities_hide_sts_not_in][]', true ) %>
                    <%= 'None' %>
                  </td>
                </tr>

                <tr>
                  <td class="w50">
                    <%= check_box_tag('q[web_cop_in][]', true) %>
                    <%= 'CoPilot' %>
                  </td>
                  <td class="w50">
                    <%= check_box_tag('q[web_cop_not_in][]', true) %>
                    <%= 'None' %>
                  </td>
                </tr>
              </table>


              <!-- Search Webs (General-Table) -->
              <table class="ransack-table table text-nowrap">

                <!-- Search Webs (URL) -->
                <tr>
                  <td class="w20">URL</td>
                  <td class="w80"><%= f.search_field :web_url_cont_any, class: "form-control ransack-input" %></td>
                </tr>
                <!-- Search Webs (FWD URL) -->
                <tr>
                  <td class="w20">FWD URL</td>
                  <td class="w80"><%= f.search_field :web_fwd_url_cont_any, class: "form-control ransack-input" %></td>

                </tr>
              </table>


              <table class="ransack-table table  text-nowrap">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">Template</th>
                  </tr>
                </thead>
                <% temps&.each_with_index do |temp_name, index| %>
                  <% if index.even? %>
                    <tr>
                      <!-- LEFT -->
                      <td>
                        <%= check_box_tag('q[web_temp_name_in][]', temp_name) %>
                        <%= temp_name %>
                      </td>
                    <% else %>
                      <!-- RIGHT -->
                      <td>
                        <%= check_box_tag('q[web_temp_name_in][]', temp_name) %>
                        <%= temp_name %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>


              <table class="ransack-table table  text-nowrap">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">Brand</th>
                  </tr>
                </thead>
                <% brands&.each_with_index do |brand_name, index| %>
                  <% if index.even? %>
                    <tr>
                      <!-- LEFT -->
                      <td>
                        <%= check_box_tag('q[web_brands_brand_name_in][]', brand_name) %>
                        <%= brand_name %>
                      </td>
                    <% else %>
                      <!-- RIGHT -->
                      <td>
                        <%= check_box_tag('q[web_brands_brand_name_in][]', brand_name) %>
                        <%= brand_name %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>


              <table class="ransack-table table  text-nowrap">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">URL Status</th>
                  </tr>
                </thead>
                <% url_stss&.each_with_index do |url_sts, index| %>
                  <% if index.even? %>
                    <tr>
                      <!-- LEFT -->
                      <td>
                        <%= check_box_tag('q[web_url_sts_in][]', url_sts) %>
                        <%= url_sts %>
                      </td>
                    <% else %>
                      <!-- RIGHT -->
                      <td>
                        <%= check_box_tag('q[web_url_sts_in][]', url_sts) %>
                        <%= url_sts %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>


              <table class="ransack-table table  text-nowrap">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">Template Status</th>
                  </tr>
                </thead>
                <% temp_stss&.each_with_index do |temp_sts, index| %>
                  <% if index.even? %>
                    <tr>
                      <!-- LEFT -->
                      <td>
                        <%= check_box_tag('q[web_temp_sts_in][]', temp_sts) %>
                        <%= temp_sts %>
                      </td>
                    <% else %>
                      <!-- RIGHT -->
                      <td>
                        <%= check_box_tag('q[web_temp_sts_in][]', temp_sts) %>
                        <%= temp_sts %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>


              <table class="ransack-table table  text-nowrap">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">Staff Page Status</th>
                  </tr>
                </thead>
                <% page_stss&.each_with_index do |page_sts, index| %>
                  <% if index.even? %>
                    <tr>
                      <!-- LEFT -->
                      <td>
                        <%= check_box_tag('q[web_page_sts_in][]', page_sts) %>
                        <%= page_sts %>
                      </td>
                    <% else %>
                      <!-- RIGHT -->
                      <td>
                        <%= check_box_tag('q[web_page_sts_in][]', page_sts) %>
                        <%= page_sts %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>



              <table class="ransack-table table  text-nowrap">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">Staff Mined Status</th>
                  </tr>
                </thead>
                <% cs_stss&.each_with_index do |cs_sts, index| %>
                  <% if index.even? %>
                    <tr>
                      <!-- LEFT -->
                      <td>
                        <%= check_box_tag('q[web_cs_sts_in][]', cs_sts) %>
                        <%= cs_sts %>
                      </td>
                    <% else %>
                      <!-- RIGHT -->
                      <td>
                        <%= check_box_tag('q[web_cs_sts_in][]', cs_sts) %>
                        <%= cs_sts %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>


              <!-- Search Webs (Dates-Table) -->
              <!-- <p class="text-center"><strong>Dates</strong></p> -->
              <div class="row">
                <table class="ransack-table table  text-nowrap text-center">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Start</th>
                      <th>End</th>
                    </tr>
                  </thead>

                  <!-- URL Verified -->
                  <tr>
                    <td>URL Verified</td>
                    <td><%= f.date_field :web_url_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_url_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Template -->
                  <tr>
                    <td>Template Verified</td>
                    <td><%= f.date_field :web_tmp_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_tmp_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Staff Page -->
                  <tr>
                    <td>Staff Page Verified</td>
                    <td><%= f.date_field :web_page_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_page_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Staff Mined -->
                  <tr>
                    <td>Staff Verified</td>
                    <td><%= f.date_field :web_cs_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_cs_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- URL Updated -->
                  <tr>
                    <td>URL Updated</td>
                    <td><%= f.date_field :web_web_changed_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_web_changed_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- URL InActive -->
                  <tr>
                    <td>URL InActive</td>
                    <td><%= f.date_field :web_wx_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_wx_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Web Updated -->
                  <tr>
                    <td>Web Updated</td>
                    <td><%= f.date_field :web_updated_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_updated_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Web Created -->
                  <tr>
                    <td>Web Created</td>
                    <td><%= f.date_field :web_created_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_created_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>
                </table>
              </div>
            </div>
          </ul>
        </li>

      </ul>


      <!-- SORT SECTION - START -->
      <h6 class="text-center sidebar-header">
        <%= icon('fas', 'sort', 'Sort Options', class: 'fa-pull-right') %>
      </h6>

      <ul class="components">
        <!-- Sort Conts (General-1) -->
        <table class="ransack-table table table-bordered text-nowrap">
          <tr>
            <td>
              <%= sort_link(@cq, :full_name) do %>
                <span><%= icon('fas', 'user', 'Full Name') %></span>
              <% end %>
            </td>

            <td>
              <%= sort_link(@cq, :last_name) do %>
                <span><%= icon('fas', 'user', 'Last Name') %></span>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>
              <%= sort_link(@cq, :job_title) do %>
                <span><%= icon('fas', 'briefcase', 'Job Title') %></span>
              <% end %>
            </td>

            <td>
              <%= sort_link(@cq, :job_desc) do %>
                <span><%= icon('fas', 'briefcase', 'Job Desc') %></span>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>
              <%= sort_link(@cq, :email) do %>
                <span><%= icon('fas', 'at', 'Email') %></span>
              <% end %>
            </td>

            <td>
              <%= sort_link(@cq, :phone) do %>
                <span><%= icon('fas', 'phone', 'Phone') %></span>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>
              <%= sort_link(@cq, :cs_date) do %>
                <span><%= icon('fas', 'calendar-alt', 'Last Verified') %></span>
              <% end %>
            </td>

            <td>
              <%= sort_link(@cq, :email_changed) do %>
                <span><%= icon('fas', 'calendar-alt', 'Email Updated') %></span>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>
              <%= sort_link(@cq, :cont_changed) do %>
                <span><%= icon('fas', 'calendar-alt', 'Profile Updated') %></span>
              <% end %>
            </td>

            <td>
              <%= sort_link(@cq, :job_changed) do %>
                <span><%= icon('fas', 'calendar-alt', 'Job Updated') %></span>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>
              <%= sort_link(@cq, :created_at) do %>
                <span><%= icon('fas', 'calendar-alt', 'Created') %></span>
              <% end %>
            </td>

            <td>
              <%= sort_link(@cq, :cx_date) do %>
                <span><%= icon('fas', 'calendar-alt', 'InActive') %></span>
              <% end %>
            </td>
          </tr>

        </table>
      </ul>




      <!-- Save & Name Search Field -->
      <div class="form-group">
        <%= f.text_field :q_name_cont_any, placeholder: "Save search as ..", class: "form-control save-search-as" %>
      </div>

      <div class="row">
        <div class="actions col-md-6"><%= f.submit "Search", class: "btn btn-primary search-btns"%></div>
        <div class="col-md-6"><%= button_tag "Reset", type: :reset, class: "btn btn-danger search-btns" %></div>
      </div>

    <% end %>


    <br>
    <!-- SAVED SEARCHES SECTION - START -->
    <h6 class="text-center sidebar-header">Saved Contact Searches</h6>
    <ul class="components">

      <table class="table">
        <% queries = current_user&.queries&.where(mod_name: 'Cont')&.order("updated_at DESC") %>
        <% queries&.each_with_index do |query, index| %>
          <tr><td><%= link_to "#{index + 1}. #{query.q_name}", search_conts_path({q: query.params['q']}) %></td></tr>
        <% end %>
      </table>

      <br>
    </ul>
    <br>

  <% end %>

</nav>

<br>
<br>
