<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(icon('fas', 'database', 'Sage DataForce'), root_path, class: "navbar-brand")%>
      <span class="font-italic">CRM Data Verification Software</span>
    </div>
    <ul class="nav navbar-nav">

      <% if basic_and_up %>
        <li><%= link_to(icon('fas', 'building', 'Accounts'), acts_path, class: "nav-link")%></li>
        <li><%= link_to(icon('fas', 'users', 'Contacts'), conts_path, class: "nav-link")%></li>
        <li><%= link_to(icon('fas', 'external-link-alt', 'Websites'), webs_path, class: "nav-link")%></li>
        <li><%= link_to(icon('fas', 'tachometer-alt', 'Dashboard'), tallies_path, class: "nav-link")%></li>
      <% end %>

      <% if current_user.present? %>
        <li><%= link_to(icon('fas', 'user-circle', current_user.first_name.capitalize), user_path(current_user), class: "nav-link")%></li>
      <% else %>
        <li class="nav-item"><%= link_to "Register", new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
      <% end %>


      <% if admin_only %>
        <li class="nav-item"><%= link_to 'Users', users_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to 'Admin', admin_index_path, class: "nav-link"  %></li>
      <% end %>

    </ul>
  </div>
</nav>
