<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home/index">CRM DataMiner</a>
    </div>
    <ul class="nav navbar-nav">

      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Home', home_index_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to 'Accounts', acts_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to 'Websites', webs_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to 'Contacts', conts_path, class: "nav-link"  %></li>
        <!-- <li class="nav-item"><%#= link_to 'Users', users_path, class: "nav-link"  %></li> -->
        <li class="nav-item"><%= link_to 'Dashboard', tallies_path, class: "nav-link"  %></li>
        <li class="nav-item"><%= link_to current_user.first_name.capitalize, user_path(current_user), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Register", new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
      <% end %>

    </ul>
  </div>
</nav>
