<!-- Sidebar Holder -->
<nav id="sidebar">
  <div id="dismiss"><%= fa_icon "angle-double-left lg" %></div>

  <div class="sidebar-header text-center"><%= content_tag(:h3, fa_icon("tachometer", text: "Dash", left: true)) %></div>

  <ul class="list-unstyled components">
    <li><a href="#"><%= fa_icon 'tachometer md', text: "List Item 1", left: true %></a></li>
    <li class="nav-item"><%= link_to 'Acts', acts_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to 'Conts', conts_path, class: "nav-link"  %></li>
    <li class="nav-item"><%= link_to 'Webs', webs_path, class: "nav-link"  %></li>

    <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="#">Home 1</a></li>
            <li><a href="#">Home 2</a></li>
            <li><a href="#">Home 3</a></li>
        </ul>
    </li>

    <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li><a href="#">Page 1</a></li>
    <li><a href="#">Page 2</a></li>
  </ul>
  
</nav>
