<!-- Sidebar Holder -->
<nav id="sidebar">
  <!-- <div class="sidebar-header"> -->
  <h5 class="text-center sidebar-header">Search CRM Data</h5>
  <!-- </div> -->


  <% if @search.present? %>
    <%= search_form_for(@search) do |f| %>

    <% temps = Web.select(:temp_name).where.not(temp_name: nil).pluck(:temp_name).uniq.sort %>

    <div class="field" >
      <p><%= f.label :temp_name_cont, "Web:" %></p>
       <p><%= f.collection_select(:temp_name_cont, Web.all, :id, :temp_name) %></p>
    </div>



    <ul class="components">

      <li>
        <a class="dropdown-toggle" href="#web-criteria" data-toggle="collapse" aria-expanded="false">
          <%= icon('fas', 'external-link-alt', 'Web Criteria') %>
        </a>

        <ul class="collapse" id="web-criteria">

          <div class="field">
            <%= f.label :url_cont_any, "Url: " %>
            <%= f.search_field :url_cont_any %>
          </div>

        </ul>
      </li>


      <li class="">
        <a class="dropdown-toggle" href="#act-criteria" data-toggle="collapse" aria-expanded="false">
          <%= icon('fas', 'building', 'Account Criteria') %>
        </a>

        <ul class="collapse" id="act-criteria">

          <div class="field">
            <%= f.label :acts_state_cont_any, "State: " %>
            <%= f.search_field :acts_state_cont_any %>
          </div>

        </ul>
      </li>


      <li>
        <a class="dropdown-toggle" href="#cont-criteria" data-toggle="collapse" aria-expanded="false">
          <%= icon('fas', 'users', 'Contact Criteria') %>
        </a>

        <ul class="collapse list-unstyled" id="cont-criteria">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </li>

    </ul>

    <div class="actions"><%= f.submit "Search" %></div>
    <% end %>
  <% end %>

</nav>
