<nav class="container sidebar">

  <% if @wq.present? %>

    <%= search_form_for(@wq, url: search_webs_path, html: {method: :post, class: 'form'}) do |f| %>
      <!-- WEBS CHECK BOX OPTIONS -->
      <% temps = @webs.select(:temp_name).where.not(temp_name: nil).pluck(:temp_name).uniq.sort %>
      <% brands = get_brands_for_select(@webs) %>
      <% cops = [true, false] %>
      <% url_stss = @webs.select(:url_sts).where.not(url_sts: nil).pluck(:url_sts).uniq.sort %>
      <% temp_stss = @webs.select(:temp_sts).where.not(temp_sts: nil).pluck(:temp_sts).uniq.sort %>
      <% page_stss = @webs.select(:page_sts).where.not(page_sts: nil).pluck(:page_sts).uniq.sort %>
      <% cs_stss = @webs.select(:cs_sts).where.not(cs_sts: nil).pluck(:cs_sts).uniq.sort %>

      <!-- ACCOUNTS CHECK BOX OPTIONS -->
      <% states = get_states_for_select(@webs) %>
      <% gp_stss = get_gp_stss_for_select(@webs) %>
      <% gp_induss = get_gp_induss_for_select(@webs) %>


      <!-- SEARCH SECTION - START -->
      <h5 class="text-center sidebar-header">Search Criteria</h5>
      <ul class="components">


        <!-- SEARCH WEBS - START -->
        <li>
          <a class="dropdown-toggle" href="#web-criteria" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'external-link-alt', 'Web Criteria') %>
          </a>
          <ul class="collapse" id="web-criteria">
            <div class="panel sidebar-panel">
              <!-- Search Webs (General-Table) -->
              <table class="ransack-table table table-bordered text-nowrap text-center">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Criteria</th>
                    </tr>
                  </thead>

                  <!-- Search Webs (URL) -->
                  <tr>
                    <td>URL</td>
                    <td><%= f.search_field :url_cont_any %></td>
                  </tr>

                  <!-- Search Webs (FWD URL) -->
                  <tr>
                    <td>FWD URL</td>
                    <td><%= f.search_field :fwd_url_cont_any %></td>
                  </tr>

                </table>

              <!-- Search Webs (Template Check Boxes) -->
              <p class="text-center"><strong>Template</strong></p>
              <div class="row form-check-row">
                <% temps&.each_with_index do |temp_name, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[temp_name_in][]', temp_name) %>
                      <%= temp_name %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[temp_name_in][]', temp_name) %>
                      <%= temp_name %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Webs (Franchise Brand Check Boxes) -->
              <p class="text-center"><strong>Brand</strong></p>
              <div class="row form-check-row">
                  <% brands&.each_with_index do |brand_name, index| %>
                    <% if index.odd? %>
                      <!-- LEFT -->
                      <div class="col-md-6 form-check">
                        <%= check_box_tag('q[brands_brand_name_in][]', brand_name) %>
                        <%= brand_name %>
                      </div>
                    <% else %>
                      <!-- RIGHT -->
                      <div class="col-md-6 form-check">
                        <%= check_box_tag('q[brands_brand_name_in][]', brand_name) %>
                        <%= brand_name %>
                      </div>
                    <% end %>
                  <% end %>
                </div>

              <!-- Search Webs (Cop Check Boxes) -->
              <p class="text-center"><strong>CoPilot</strong></p>
              <div class="row form-check-row">
                <% cops&.each_with_index do |cop, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[cop_in][]', cop) %>
                      <%= cop %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[cop_in][]', cop) %>
                      <%= cop %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Webs (url_sts Check Boxes) -->
              <p class="text-center"><strong>URL Status</strong></p>
              <div class="row form-check-row">
                    <% url_stss&.each_with_index do |url_sts, index| %>
                      <% if index.odd? %>
                        <!-- LEFT -->
                        <div class="col-md-6 form-check">
                          <%= check_box_tag('q[url_sts_in][]', url_sts) %>
                          <%= url_sts %>
                        </div>
                      <% else %>
                        <!-- RIGHT -->
                        <div class="col-md-6 form-check">
                          <%= check_box_tag('q[url_sts_in][]', url_sts) %>
                          <%= url_sts %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

              <!-- Search Webs (temp_sts Check Boxes) -->
              <p class="text-center"><strong>Template Status</strong></p>
              <div class="row form-check-row">
                <% temp_stss&.each_with_index do |temp_sts, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[temp_sts_in][]', temp_sts) %>
                      <%= temp_sts %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[temp_sts_in][]', temp_sts) %>
                      <%= temp_sts %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Webs (page_sts Check Boxes) -->
              <p class="text-center"><strong>Staff Page Status</strong></p>
              <div class="row form-check-row">
                <% page_stss&.each_with_index do |page_sts, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[page_sts_in][]', page_sts) %>
                      <%= page_sts %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[page_sts_in][]', page_sts) %>
                      <%= page_sts %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Webs (cs_sts Check Boxes) -->
              <p class="text-center"><strong>Staff Mined Status</strong></p>
              <div class="row form-check-row">
                <% cs_stss&.each_with_index do |cs_sts, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[cs_sts_in][]', cs_sts) %>
                      <%= cs_sts %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[cs_sts_in][]', cs_sts) %>
                      <%= cs_sts %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Webs (Dates-Table) -->
              <p class="text-center"><strong>Dates</strong></p>
              <div class="row">
                <table class="ransack-table table table-bordered text-nowrap text-center">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Start</th>
                      <th>End</th>
                    </tr>
                  </thead>

                  <!-- URL Verified -->
                  <tr>
                    <td>URL Verified</td>
                    <td><%= f.date_field :url_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :url_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Template -->
                  <tr>
                    <td>Template Verified</td>
                    <td><%= f.date_field :tmp_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :tmp_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Staff Page -->
                  <tr>
                    <td>Staff Page Verified</td>
                    <td><%= f.date_field :page_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :page_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Staff Mined -->
                  <tr>
                    <td>Staff Verified</td>
                    <td><%= f.date_field :cs_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :cs_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- URL Updated -->
                  <tr>
                    <td>URL Updated</td>
                    <td><%= f.date_field :web_changed_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :web_changed_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- URL Inactive -->
                  <tr>
                    <td>URL Inactive</td>
                    <td><%= f.date_field :wx_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :wx_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Web Updated -->
                  <tr>
                    <td>Web Updated</td>
                    <td><%= f.date_field :updated_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :updated_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- Web Created -->
                  <tr>
                    <td>Web Created</td>
                    <td><%= f.date_field :created_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :created_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                </table>
              </div>
            </div>
          </ul>
        </li>


        <!-- SEARCH ACCOUNTS - START -->
        <li>
          <a class="dropdown-toggle" href="#act-criteria" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'building', 'Account Criteria') %>
          </a>
          <ul class="collapse" id="act-criteria">
            <div class="panel sidebar-panel">
              <!-- Search Acts (General-1) -->
              <!-- Search Acts (General-Table) -->
              <table class="ransack-table table table-bordered text-nowrap text-center">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Criteria</th>
                    </tr>
                  </thead>

                  <!-- Search Acts (Account Name) -->
                  <tr>
                    <td>Account Name</td>
                    <td><%= f.search_field :acts_act_name_cont_any %></td>
                  </tr>

                  <!-- Search Acts (Full Address) -->
                  <tr>
                    <td>Full Address</td>
                    <td><%= f.search_field :acts_act_name_cont_any %></td>
                  </tr>

                  <!-- Search Acts (Street) -->
                  <tr>
                    <td>Street</td>
                    <td><%= f.search_field :acts_street_cont_any %></td>
                  </tr>

                  <!-- Search Acts (City) -->
                  <tr>
                    <td>City</td>
                    <td><%= f.search_field :acts_city_cont_any %></td>
                  </tr>

                  <!-- Search Acts (Zip) -->
                  <tr>
                    <td>Zip</td>
                    <td><%= f.search_field :acts_zip_cont_any %></td>
                  </tr>

                  <!-- Search Acts (Phone) -->
                  <tr>
                    <td>Phone</td>
                    <td><%= f.search_field :acts_phone_cont_any %></td>
                  </tr>

                  <!-- Search Acts (Lat) -->
                  <tr>
                    <td>Lat</td>
                    <td><%= f.search_field :acts_lat_cont_any %></td>
                  </tr>

                  <!-- Search Acts (Lon) -->
                  <tr>
                    <td>Lon</td>
                    <td><%= f.search_field :acts_lon_cont_any %></td>
                  </tr>

                  <!-- Search Acts (GP ID) -->
                  <tr>
                    <td>GP ID</td>
                    <td><%= f.search_field :acts_gp_id_eq_any %></td>
                  </tr>

                </table>

              <!-- Search Acts (State Check Boxes) -->
              <p class="text-center"><strong>State</strong></p>
              <div class="row form-check-row">
                <% states&.each_with_index do |state, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[acts_state_in][]', state) %>
                      <%= state %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[acts_state_in][]', state) %>
                      <%= state %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Acts (Status-2) -->
              <!-- Search Acts (gp_sts Check Boxes) -->
              <p class="text-center"><strong>GP Status</strong></p>
              <div class="row form-check-row">
                <% gp_stss&.each_with_index do |gp_sts, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[acts_gp_sts_in][]', gp_sts) %>
                      <%= gp_sts %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[acts_gp_sts_in][]', gp_sts) %>
                      <%= gp_sts %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Acts (gp_indus Check Boxes) -->
              <p class="text-center"><strong>GP Indus</strong></p>
              <div class="row form-check-row">
                <% gp_induss&.each_with_index do |gp_indus, index| %>
                  <% if index.odd? %>
                    <!-- LEFT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[acts_gp_indus_in][]', gp_indus) %>
                      <%= gp_indus %>
                    </div>
                  <% else %>
                    <!-- RIGHT -->
                    <div class="col-md-6 form-check">
                      <%= check_box_tag('q[acts_gp_indus_in][]', gp_indus) %>
                      <%= gp_indus %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- Search Acts (Dates-3) -->
              <div class="row">
                <table class="ransack-table table table-bordered text-nowrap text-center">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Start</th>
                      <th>End</th>
                    </tr>
                  </thead>

                  <!-- gp_date -->
                  <tr>
                    <td>GP Verified</td>
                    <td><%= f.date_field :acts_gp_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_gp_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- adr_changed -->
                  <tr>
                    <td>Address Updated</td>
                    <td><%= f.date_field :acts_adr_changed_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_adr_changed_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- act_changed -->
                  <tr>
                    <td>Acct-Name Updated</td>
                    <td><%= f.date_field :acts_act_changed_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_act_changed_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- ax_date -->
                  <tr>
                    <td>Account Inactive</td>
                    <td><%= f.date_field :acts_ax_date_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_ax_date_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- updated_at -->
                  <tr>
                    <td>Account Updated</td>
                    <td><%= f.date_field :acts_updated_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_updated_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                  <!-- created_at -->
                  <tr>
                    <td>Account Created</td>
                    <td><%= f.date_field :acts_created_at_gteq, {class: 'ransack-date-input'} %></td>
                    <td><%= f.date_field :acts_created_at_lteq, {class: 'ransack-date-input'} %></td>
                  </tr>

                </table>
              </div>
            </div>
          </ul>
        </li>

      </ul>




      <!-- SORT SECTION - START -->
      <h5 class="text-center sidebar-header">
        <%= icon('fas', 'sort', 'Sort Options', class: 'fa-pull-right') %>
      </h5>

      <ul class="components">

        <!-- SORT WEBS - START -->
        <li>
          <a class="dropdown-toggle" href="#sort-options-webs" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'external-link-alt', 'Web Sort') %>
          </a>
          <ul class="collapse" id="sort-options-webs">
            <!-- Sort Webs (General-1) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">General</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@wq, :url) do %>
                    <span><%= icon('fas', 'home', 'URL') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :fwd_url) do %>
                    <span><%= icon('fas', 'home', 'Redirected URL') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :brands_brand_name) do %>
                    <span><%= icon('fas', 'car', 'Franchise Brand') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :temp_name) do %>
                    <span><%= icon('fab', 'firstdraft', 'Template') %></span>
                  <% end %>
                </td>
              </tr>
            </table>

            <!-- Sort Webs (Status-2) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Status</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@wq, :url_sts) do %>
                    <span><%= icon('fas', 'home', 'URL') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :cop) do %>
                    <span><%= icon('fas', 'star', 'CoPilot') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :temp_sts) do %>
                    <span><%= icon('fab', 'firstdraft', 'Template') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :page_sts) do %>
                    <span><%= icon('fas', 'link', 'Staff Page') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :cs_sts) do %>
                    <span><%= icon('fas', 'users', 'Staff Mined') %></span>
                  <% end %>
                </td>

                <td></td>
              </tr>
            </table>

            <!-- Sort Webs (Dates-3) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Dates</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@wq, :url_date) do %>
                    <span><%= icon('fas', 'home', 'URL Verified') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :web_changed) do %>
                    <span><%= icon('fas', 'home', 'URL Changed') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :wx_date) do %>
                    <span><%= icon('fas', 'home', 'URL Inactive') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :tmp_date) do %>
                    <span><%= icon('fab', 'firstdraft', 'Template Verified') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :page_date) do %>
                    <span><%= icon('fas', 'link', 'Staff Page Verified') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :cs_date) do %>
                    <span><%= icon('fas', 'users', 'Staff Mined') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :created_at) do %>
                    <span><%= icon('fas', 'external-link-alt', 'Web Created') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :updated_at) do %>
                    <span><%= icon('fas', 'external-link-alt', 'Web Updated') %></span>
                  <% end %>
                </td>
              </tr>
            </table>
          </ul>
        </li>



        <!-- SORT ACTS - START -->
        <li>
          <a class="dropdown-toggle" href="#sort-options-acts" data-toggle="collapse" aria-expanded="false">
            <%= icon('fas', 'building', 'Account Sort') %>
          </a>
          <ul class="collapse" id="sort-options-acts">
            <!-- Sort Acts (General-1) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">General</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <%= sort_link(@wq, :acts_act_name) do %>
                    <span><%= icon('fas', 'building', 'Account Name') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_gp_id) do %>
                    <span><%= icon('fab', 'google', 'GP ID') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_gp_indus) do %>
                    <span><%= icon('fab', 'google', 'GP Industry') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_phone) do %>
                    <span><%= icon('fas', 'star', 'Phone') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_street) do %>
                    <span><%= icon('fas', 'star', 'Street') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_city) do %>
                    <span><%= icon('fas', 'star', 'City') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_state) do %>
                    <span><%= icon('fas', 'star', 'State') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_zip) do %>
                    <span><%= icon('fas', 'star', 'Zip') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_lat) do %>
                    <span><%= icon('fas', 'star', 'Lat') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_lon) do %>
                    <span><%= icon('fas', 'star', 'Lon') %></span>
                  <% end %>
                </td>
              </tr>
            </table>

            <!-- Sort Acts (Status-2) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Status</th>
                </tr>
              </thead>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_gp_sts) do %>
                    <span><%= icon('fab', 'google', 'GP') %></span>
                  <% end %>
                </td>

                <td></td>
              </tr>
            </table>

            <!-- Sort Acts (Dates-3) -->
            <table class="ransack-table table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Dates</th>
                </tr>
              </thead>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_gp_date) do %>
                    <span><%= icon('fab', 'google', 'GP') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_ax_date) do %>
                    <span><%= icon('fab', 'google', 'Account Inactive') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_adr_changed) do %>
                    <span><%= icon('fab', 'google', 'adr_changed') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_act_changed) do %>
                    <span><%= icon('fab', 'google', 'act_changed') %></span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= sort_link(@wq, :acts_created_at) do %>
                    <span><%= icon('fab', 'google', 'created_at') %></span>
                  <% end %>
                </td>

                <td>
                  <%= sort_link(@wq, :acts_updated_at) do %>
                    <span><%= icon('fab', 'google', 'updated_at') %></span>
                  <% end %>
                </td>
              </tr>

            </table>
          </ul>
        </li>

      </ul>

      <!-- Save & Name Search Field -->
      <div class="form-group">
        <%= f.text_field :q_name_cont_any, placeholder: "Save search as ..", class: "form-control" %>
      </div>


      <div class="row">
        <div class="actions col-md-6"><%= f.submit "Search", class: "btn btn-primary btn-xs"%></div>
        <div class="col-md-6"><%= button_tag "Reset", type: :reset, class: "btn btn-danger btn-xs" %></div>
      </div>


    <% end %>


    <!-- SAVED SEARCHES SECTION - START -->
    <h5 class="text-center sidebar-header">Saved Searches</h5>
    <ul class="components">
      <li>
        <a class="dropdown-toggle" href="#saved-search-webs" data-toggle="collapse" aria-expanded="false">
          <%= icon('fas', 'search', 'Saved Searches') %>
        </a>
        <ul class="collapse" id="saved-search-webs">
          <!-- SAVED SEARCH LIST - START -->

          <table class="table">
            <% queries = current_user&.queries&.where(mod_name: 'Web')&.order("updated_at DESC") %>
            <% queries&.each do |query| %>
              <tr>
                <%= link_to query.q_name, search_webs_path({q: query.params['q']}) %>
              </tr>
            <% end %>
          </table>
        </ul>
      </li>
    </ul>


  <% end %>


</nav>
