<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header-overlay"></div>
<section class="home-hero parallax--bg">
  <div class="v-header container home-container">
    <div class="fullscreen-video-wrap">
      <%= video_tag "cars.mov", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
    </div>
  </div>
<!-- VIDEO BACKGROUND STUFF ABOVE -->

  <div class="header-content text-md-center" style="margin-top: -280px;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title parallax--box">Welcome to Big Data Solutions</h1>
        <h2>Customized CRM Data Curation</h2>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 150px;">
    <div class="col-md-4 parallax--box">
      <h3 class="text-center" style="background: orange; color: #232323;">Problem</h3>
      <h3 class="text-center" >Sales Professionals' Time Spent</h3>
      <div class="problem_solution">
        <h5><%= icon('fas', 'caret-down', '31% Searching & Verifying Data') %></h5>
        <h5><%= icon('fas', 'caret-down', '20% Reporting & Admin') %></h5>
        <h5><%= icon('fas', 'caret-down', '33% SELLING') %></h5>
      </div>
      <h6 class="text-center"> - Docurated's State of Sales Productivity Study</h6>
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4 parallax--box">
      <h3 class="text-center" style="background: #00ff6c; color: #232323;">Solution</h3>
      <h3 class="text-center">CRM Data Verification</h3>
      <div class="problem_solution">
        <h5><%= icon('fas', 'caret-up', 'Weekly Data Status Reports') %></h5>
        <h5><%= icon('fas', 'caret-up', '24-7 Google Places Verification') %></h5>
        <h5><%= icon('fas', 'caret-up', 'Identifies Duplicates & Obsoletes') %></h5>
        <h5><%= icon('fas', 'caret-up', 'Industry Specific Lead Generation') %></h5>
      </div>
    </div>

  </div>

  <div class="row text-center" style="margin-top: 0px;">
    <div class="col-md-12 parallax--box">
      <h5>Stop Researching CRM Data</h5>
      <h2>Get Back to Selling</h2><br>
    </div>
  </div>

  <div class="row text-center" style="margin-top: 15px;">
    <div class="col-md-12 parallax--box">
      <h5 class="demo-header">View Training Demos Below</h5>
      <!-- <a href="" class="button button-accent">View Demo</a> -->
    </div>
  </div>
</section>



<!-- <div class="container home-container" style="margin-top: 0px;">
	<section class="home-about">

		<div class="home-about-textbox parallax--box">
			<h3>Unique Approach</h3>

      <p>Sage DataForce structures data on a tri-directional basis with the website url as its nucleus. The first step of the process is running all of your account urls through a process which can follow and log redirects.  They verifying the account data with browser and map indexing.  Thus showing you the complete history and connection between business names, locations, and urls.</p>
		</div>

	</section>
</div> -->




<section class="portfolio" style="">

  <!-- Profile -->
  <figure class="port-item">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f71RNdbyfPY?rel=0" allowfullscreen></iframe>
    </div>

    <figcaption class="port-desc text-center">
      <h5 class="demo-header">Demo 1: Dashboard & User Profile</h5>
      <p>Manage Saved Searches, CSVs, Followed & Hidden Data</p>
    </figcaption>
  </figure>

	<!-- Accounts -->
	<figure class="port-item">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OOOh12HGfVc?rel=0" allowfullscreen></iframe>
    </div>

		<figcaption class="port-desc text-center">
      <h5 class="demo-header">Demo 2: Accounts</h5>
			<p>Google Places ID, GPS, Changes, CSVs including Contacts & Websites</p>
		</figcaption>
	</figure>

	<!-- Contacts -->
	<figure class="port-item">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OOOh12HGfVc?rel=0" allowfullscreen></iframe>
    </div>

		<figcaption class="port-desc text-center">
      <h5 class="demo-header">Demo 3: Contacts</h5>
			<p>Name, Job, Email, Phone, Changes, CSVs including Accounts & Websites </p>
		</figcaption>
	</figure>

	<!-- Websites -->
	<figure class="port-item">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OOOh12HGfVc?rel=0" allowfullscreen></iframe>
    </div>

		<figcaption class="port-desc text-center">
      <h5 class="demo-header">Demo 4: Websites</h5>
      <p>List all Accounts and Contacts Associated with Website URL </p>
		</figcaption>
	</figure>

</section>




<div style="margin-bottom: 50px;">

</div>

<!-- <footer>
	<div class="container home-container">
		<div class="col-3">
			<p>Shoreditch bespoke leggings, tote bag williamsburg woke retro readymade scenester brunch art party farm-to-table pug. Wayfarers lyft prism, edison bulb distillery pok pok narwhal pinterest poke.</p>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Shoreditch</strong></li>
				<li>Shoreditch</li>
				<li>Woke retro </li>
				<li>Readymade </li>
				<li>Scenester </li>
			</ul>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Shoreditch</strong></li>
				<li>Shoreditch</li>
				<li>Woke retro </li>
				<li>Readymade </li>
				<li>Scenester </li>
			</ul>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Shoreditch</strong></li>
				<li>Shoreditch</li>
				<li>Woke retro </li>
				<li>Readymade </li>
				<li>Scenester </li>
			</ul>
		</div>
	</div>
</footer> -->
