<%= render partial: 'shared/conts_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <h5>Contacts <span style="font-size: 14px;">(Results: <%= number_with_delimiter(@conts.count, :delimiter => ',') %> )</span></h5>
  </div>

  <div class="col-md-3">
    <% if params[:q].present? %>
      <%= link_to generate_csv_conts_path(params), class: 'btn btn-primary btn-md' do %>
        <i class="fa fa-download" aria-hidden="true"></i> Download CSV
      <% end %>
    <% end %>
  </div>


  <div class="col-md-6"></div>

</div>


<div class="row">
  <% @conts&.each_with_index do |cont, index| %>
    <% if index.even? %>
    <!-- LEFT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <% @cont = cont %>
          <%= render 'conts/cont_detail', cont: cont %>
          <%#= render 'webs/web_details', locals: {web: @web} %>
        </div>
      </div>

    <% else %>
      <!-- RIGHT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <% @cont = cont %>
          <%= render 'conts/cont_detail', cont: cont %>
          <%#= render 'webs/web_details', locals: {web: @web} %>
        </div>
      </div>
    <% end %>


<% end %>
</div>





<br>
<%= will_paginate @conts if @conts&.present? %>
<br>
<br>
