<p id="notice"><%= notice %></p>

<!-- ## ORIGINAL BELOW -->
<div class="panel outer-panel list-view">
  <table class="table table-bordered table-hover table-striped text-nowrap list-view">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Phone</th>
      <th>email</th>
      <th>Created</th>
      <th>Verified</th>
      <th>Email ğš«</th>
      <th>Job ğš«</th>
      <th> <%= icon('fas', 'download', 'CSV') %> </th>
      <th colspan="2">Manage</th>
    </tr>
  </thead>

  <tbody>
    <% conts&.each do |cont| %>
    <% cont_activity = current_user.cont_activities.find_or_create_by(cont_id: cont.id) %>
    <% cont_export = Export.find_by(id: cont_activity.export_id) %>

      <tr>
        <td style="width: 10%;"><%= cont.full_name %></td>
        <td style="width: 10%;"><%= cont.job_title %></td>
        <td style="width: 10%;"><%= cont.job_desc %></td>
        <td style="width: 5%;"><%= cont.phone %></td>
        <td style="width: 10%;"><%= cont.email %></td>
        <td style="width: 5%;"><%= cont.created_at&.strftime('%x') %></td>
        <td style="width: 5%;"><%= cont.cs_date&.strftime('%x') %></td>
        <td style="width: 5%;"><%= cont.email_changed&.strftime('%x') %></td>
        <td style="width: 5%;"><%= cont.job_changed&.strftime('%x') %></td>

        <td style="width: 10%;"><%= "#{cont_export&.export_date&.strftime('%x')} #{cont_export&.file_name}" %></td>

        <td style="width: 5%;"><%= render 'cont_activities/toggle_fav_wrap', cont_activity: cont_activity %></td>
        <td style="width: 5%;"><%= render 'cont_activities/toggle_hide_wrap', cont_activity: cont_activity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
