<%= render partial: 'shared/conts_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h5>Contacts (Results: <%= @conts.count %>)</h5>
  </div>
</div>


<% if params[:q].present? %>
  <div class="row">
    <%= link_to generate_csv_conts_path(params), class: 'btn btn-primary btn-xs' do %>
      <i class="fa fa-download" aria-hidden="true"></i> Download CSV
    <% end %>
  </div>
<% end %>



<div class="row">
  <% @conts&.each_with_index do |cont, index| %>
    <% if index.even? %>
    <!-- LEFT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <%= index %>
          <%= render 'conts_detail_deep', cont: cont %>
        </div>
      </div>
    <% else %>
      <!-- RIGHT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <%= index %>
          <%= render 'conts_detail_deep', cont: cont %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
