<!-- <div class="panel outer-panel list-view"> -->
  <% @activity = current_user.activities.find_or_create_by(mod_name: 'Cont', mod_id: cont.id) %>
  <% cont_export = Export.find_by(id: @activity.export_id) %>

  <div class="row outer-list-row">

    <!-- <div class="row"> -->
      <table class="table">
        <tr>
          <td style="width: 60%;"><%= cont.full_name %></td>
          <td style="width: 10%;"><%= render 'activities/toggle_fav_wrap', locals: {activity: @activity} %></td>
          <td style="width: 10%;"><%= render 'activities/toggle_hide_wrap', locals: {activity: @activity} %></td>
          <td style="width: 10%;">Created:</td>
          <td style="width: 10%;"><%= cont.created_at&.strftime('%x') %></td>
        </tr>

        <tr>
          <td colspan="3" style="width: 80%;"><%= cont.job_title %> | <%= cont.job_desc %> </td>
          <td style="width: 10%;">Verified:</td>
          <td style="width: 10%;"><%= cont.cs_date&.strftime('%x') %></td>
        </tr>

        <tr>
          <td colspan="3" style="width: 80%;">
            <%= cont.phone.present? ? cont.phone : "no phone" %> |
            <%= cont.email.present? ? cont.email : "no email" %>
          </td>
          <td style="width: 10%;">Email ğš«:</td>
          <td style="width: 10%;"><%= cont.email_changed&.strftime('%x') %></td>
        </tr>

        <tr>
          <td colspan="3" style="width: 80%;"><%= cont.web.url %></td>
          <td style="width: 10%;">Job ğš«:</td>
          <td style="width: 10%;"><%= cont.job_changed&.strftime('%x') %></td>
        </tr>
      </table>
    <!-- </div> -->


    <% acts = cont.acts %>
    <% acts&.each do |act| %>

      <!-- FIND OR CREATE act_activity -->
      <% @activity = current_user.activities.find_or_create_by(mod_name: 'Act', mod_id: act.id) %>
      <% act_export = Export.find_by(id: @activity.export_id) %>
      <table class="table">
        <tr>
          <td style="width: 80%;"><%= act.act_name %> | <%= act.full_address %> </td>
          <!-- ACT: TOGGLE STS PARTIAL - STARTS -->
          <td style="width: 10%;"><%= render 'activities/toggle_fav_wrap', locals: {activity: @activity} %></td>
          <td style="width: 10%;"><%= render 'activities/toggle_hide_wrap', locals: {activity: @activity} %></td>
        </tr>
      </table>
    <% end %>

  </div>
<!-- </div> -->
