<%= render partial: 'shared/conts_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <h5>Contacts <span style="font-size: 14px;">(Results: <%= number_with_delimiter(@conts.count, :delimiter => ',') %> )</span></h5>
  </div>

  <div class="col-md-3">
    <% if params[:q].present? %>
      <%= link_to generate_csv_conts_path(params), class: 'btn btn-primary btn-md' do %>
        <i class="fa fa-download" aria-hidden="true"></i> Download CSV
      <% end %>
    <% end %>
  </div>


  <div class="col-md-6"></div>

</div>



<div class="row">
  <div class="col-md-6">
    <% params[:cont_ids] = @conts.map(&:id) %>
    <% params[:source_path] = 'conts_path' %>

    <%= link_to "Follow All Conts", follow_all_cont_activities_path(params), class: 'btn btn-primary btn-md' %>
    <%= link_to "UnFollow All Conts", unfollow_all_cont_activities_path(params), class: 'btn btn-default btn-md' %>
    <%= link_to "Hide All Conts", hide_all_cont_activities_path(params), class: 'btn btn-danger btn-md' %>
    <%= link_to "UnHide All Conts", unhide_all_cont_activities_path(params), class: 'btn btn-default btn-md' %>
  </div>

  <div class="col-md-6">
    <% params[:act_ids] = @conts.map {|cont| cont.acts.map(&:id)}.flatten.uniq %>
    <% params[:source_path] = 'conts_path' %>

    <%= link_to "Follow All Acts", follow_all_act_activities_path(params), class: 'btn btn-primary btn-md' %>
    <%= link_to "UnFollow All Acts", unfollow_all_act_activities_path(params), class: 'btn btn-default btn-md' %>
    <%= link_to "Hide All Acts", hide_all_act_activities_path(params), class: 'btn btn-danger btn-md' %>
    <%= link_to "UnHide All Acts", unhide_all_act_activities_path(params), class: 'btn btn-default btn-md' %>
  </div>
</div>






<div class="row">
  <% @conts&.each_with_index do |cont, index| %>
    <% if index.even? %>
    <!-- LEFT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <% @cont = cont %>
          <%= render 'conts/cont_detail', cont: cont %>
          <%#= render 'webs/web_details', locals: {web: @web} %>
        </div>
      </div>

    <% else %>
      <!-- RIGHT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <% @cont = cont %>
          <%= render 'conts/cont_detail', cont: cont %>
          <%#= render 'webs/web_details', locals: {web: @web} %>
        </div>
      </div>
    <% end %>


<% end %>
</div>





<br>
<%= will_paginate @conts if @conts&.present? %>
<br>
<br>
