<%= render partial: 'shared/conts_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h5>Contacts (Results: <%= @conts.count %>)</h5>
  </div>
</div>


<% if params[:q].present? %>
  <div class="row">
    <%= link_to generate_csv_conts_path(params), class: 'btn btn-primary btn-xs' do %>
      <i class="fa fa-download" aria-hidden="true"></i> Download CSV
    <% end %>
  </div>
<% end %>


<div class="row">
  <% @conts&.each_with_index do |cont, index| %>
    <% if index.even? %>
    <!-- LEFT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <% @cont = cont %>
          <%= render 'conts/cont_detail', cont: cont %>
          <%#= render 'webs/web_details', locals: {web: @web} %>
        </div>
      </div>

    <% else %>
      <!-- RIGHT -->
      <div class="col-md-6">
        <div class="col-md-12">
          <% @cont = cont %>
          <%= render 'conts/cont_detail', cont: cont %>
          <%#= render 'webs/web_details', locals: {web: @web} %>
        </div>
      </div>
    <% end %>


<!-- THIS WILL BE JS PARTIAL OF CONT'S WEB AND ACTS WHEN CLICKED -->
<!-- <div class='webWrap' style="display:none" id="<%#= cont.id %>"> -->
  <%# @web = cont.web %>
  <%#= render 'webs/web_details', web: @web %>
<!-- </div> -->



<% end %>
</div>





<br>
<%#= will_paginate @conts if @conts&.present? %>
<br>
<br>
