<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :source %>
    <%= form.text_field :source, id: :contact_source, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.text_field :status, id: :contact_status, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :account_id %>
    <%= form.number_field :account_id, id: :contact_account_id, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :crm_cont_num %>
    <%= form.text_field :crm_cont_num, id: :contact_crm_cont_num, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :contact_first_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :contact_last_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, id: :contact_account_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success pull-right' %>
  </div>
<% end %>
