<tr>
  <td><%= tally_hsh[:th] %></td>
  <td>
    <%= link_to acts_path(tally_scope: tally_hsh[:tally_scope]), class: 'btn btn-default btn-sm' do %>
      <%= number_with_delimiter(Act.send(tally_hsh[:tally_scope]).count, :delimiter => ',') %>
    <% end %>
  </td>

  <%= render 'tallies/fav_hide_wrap', tally_hsh: tally_hsh %>
  <%= render 'tallies/download_tallies_wrap', tally_hsh: tally_hsh %>

</tr>
