<br>
<h5 class='text-center'>Activity Report</h5>
<h6 class='text-center'>Last Week</h6>


<h6>Accounts</h6>
<div class="row">
  <div class="col-md-12">
    <table class="table">

      <!-- thead rendered as partial -->
      <%= render 'tallies/tally_thead' %>

      <tbody>
        <!-- ACTS SCOPES BEGIN -->
        <!-- Act created_at -->
        <%= render 'tallies/tally_acts', tally_hsh: {th: 'Created', mod_name: 'Act', tally_scope: 'created_between_wk_1_2'} %>

        <!-- Act adr_changed -->
        <%= render 'tallies/tally_acts', tally_hsh: {th: 'Address Changed', mod_name: 'Act', tally_scope: 'adr_changed_between_wk_1_2'} %>

        <!-- Act act_changed -->
        <%= render 'tallies/tally_acts', tally_hsh: {th: 'Profile Changed', mod_name: 'Act', tally_scope: 'act_changed_between_wk_1_2'} %>

        <!-- Act ax_date -->
        <%= render 'tallies/tally_acts', tally_hsh: {th: 'InActive', mod_name: 'Act', tally_scope: 'ax_date_between_wk_1_2'} %>
      </tbody>
    </table>
  </div>
</div>

<br>

<!-- CONTS SCOPES BEGIN -->
<h6>Contacts</h6>
<div class="row">
  <div class="col-md-12">
    <table class="table">

      <!-- thead rendered as partial -->
      <%= render 'tallies/tally_thead' %>

    <tbody>
      <!-- Cont created_at -->
      <%= render 'tallies/tally_conts', tally_hsh: {th: 'Created', mod_name: 'Cont', tally_scope: 'created_between_wk_1_2'} %>

      <!-- Cont job_changed -->
      <%= render 'tallies/tally_conts', tally_hsh: {th: 'Job Changed', mod_name: 'Cont', tally_scope: 'job_changed_between_wk_1_2'} %>

      <!-- Cont cont_changed -->
      <%= render 'tallies/tally_conts', tally_hsh: {th: 'Profile Changed', mod_name: 'Cont', tally_scope: 'cont_changed_between_wk_1_2'} %>

      <!-- Cont email_changed -->
      <%= render 'tallies/tally_conts', tally_hsh: {th: 'Email Changed', mod_name: 'Cont', tally_scope: 'email_changed_between_wk_1_2'} %>

      <!-- Cont cx_date -->
      <%= render 'tallies/tally_conts', tally_hsh: {th: 'InActive', mod_name: 'Cont', tally_scope: 'cx_between_wk_1_2'} %>
    </tbody>
  </table>
  </div>
</div>

<br>

<!-- WEBS SCOPES BEGIN -->
<h6>Websites</h6>
<div class="row">
  <div class="col-md-12">
    <table class="table">

      <!-- thead rendered as partial -->
      <%= render 'tallies/tally_thead' %>

      <tbody>
        <!-- Web created_at -->
        <%= render 'tallies/tally_webs', tally_hsh: {th: 'Created', mod_name: 'Web', tally_scope: 'created_between_wk_1_2'} %>

        <!-- Web web_changed -->
        <%= render 'tallies/tally_webs', tally_hsh: {th: 'Changed', mod_name: 'Web', tally_scope: 'web_changed_between_wk_1_2'} %>

        <!-- Web wx_date -->
        <%= render 'tallies/tally_webs', tally_hsh: {th: 'InActive', mod_name: 'Web', tally_scope: 'wx_date_between_wk_1_2'} %>
      </tbody>
    </table>
  </div>
</div>
