<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Export</th>
      <th>Table</th>
      <th>Table ID</th>
      <th>Status</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <% user = User.find_by(id: activity.user_id) %>
      <% export = Export.find_by(id: activity.export_id) %>
      <%# binding.pry %>

      <tr>
        <td><%= link_to user.first_name.capitalize, user_path(user) %></td>
        <td><%= export&.file_name %></td>
        <td><%= activity&.mod_name %></td>
        <td><%= activity&.mod_id %></td>
        <td><%= activity&.fav_sts&.capitalize %></td>
        <td><%= activity.created_at.strftime('%x') %></td>
        <td><%= activity.updated_at.strftime('%x') %></td>
        <td><%= link_to 'Show', activity %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>


<br>
<%= will_paginate @activities if @activities.present? %>
<br>
<br>
