<div id="toggle_fav_form">
  <%= form_with(model: @activity) do |f| %>
    <div class="field form-group field">
      <%= f.hidden_field :form_id, value: 'toggle_fav_form' %>
      <%= f.label :fav_sts %>
      <%= f.text_field :fav_sts, id: :fav_sts, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit name = @activity.fav_sts %>
    </div>
  <% end %>
</div>
