<div id="toggle_hide_form">
  <%= form_with(model: @activity) do |f| %>
    <div class="field form-group field">
      <%= f.hidden_field :form_id, value: 'toggle_hide_form' %>
      <%= f.label :hide_sts %>
      <%= f.text_field :hide_sts, id: :hide_sts, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit name = @activity.hide_sts %>
    </div>
  <% end %>
</div>
