<div class="row">
  <%= link_to perform_s3s_path, class: 'btn btn-default btn-md' do %>
    <%= icon('fas', 'download', 'Generate CSV!') %>
  <% end %>
</div>


<div class="row">

  <div class="media">
    <div class="media-left">
      <%#= link_to image_tag(s3.image.url(:thumb), class: 'media-object'), s3.image.url, target: '_blank' %>

      <table class="table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Updated</th>
          </tr>
        </thead>

        <tbody>

          <% if @s3s %>
            <% @s3s.each do |s3| %>
              <div class="col-md-2">

                <tr>
                  <td><%= s3.csv_file_name %></td>
                  <td><%= s3.csv_content_type %></td>
                  <td><%= s3.csv_file_size %></td>
                  <td><%= s3.csv_updated_at %></td>

                  <td>
                    <%= link_to download_csv_s3s_path(id: s3.id), class: 'btn btn-primary btn-md' do %>
                      <i class="fa fa-download"></i> Download CSV
                    <% end %>
                  </td>

                </tr>

              </div>
            <% end %>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>

</div>
