<!DOCTYPE html>
<html>
  <head>
    <title>SDF2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'shared/nav' %>
    <div class="container">

      <div class="row"> <!-- FLASH NOTICE -->
        <%= render partial: 'shared/flash' %>
      </div>

      <div class="row" id="main-wrapper">
        <%= yield %>
      </div>

      <footer id="footer">
      </footer>

    </div>

  </body>

</html>
