<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Rooftops</h1>
  </div>
</div>


<div class="row">
  <%= render 'acts/acts_search_partial', search: @q %>
</div>


<div class="row">
  <div class="col-md-12">
    <h5>Search Results: <%= @acts.count %></h5>
  </div>
</div>


<div class="panel outer-panel">
  <table id="acts" class="display table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th><%= sort_link(@q, :act_name, "RT Name") %></th>
      <th><%= sort_link(@q, :street) %></th>
      <th><%= sort_link(@q, :city) %></th>
      <th><%= sort_link(@q, :state) %></th>
      <th><%= sort_link(@q, :zip) %></th>
      <th><%= sort_link(@q, :phone) %></th>
      <th>URL-Test</th>
      <!--<th><%#= sort_link(@q, :url) %></th>-->
      <th><%= sort_link(@q, :gp_date, "RT Scrape Date") %></th>
    </tr>
  </thead>

  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= link_to act.act_name, act %></td>
        <td><%= act.street %></td>
        <td><%= act.city %></td>
        <td><%= act.state %></td>
        <td><%= act.zip %></td>
        <td><%= act.phone %></td>
        <td><%= act.webs.find_by(url_sts: 'Valid')&.url %></td>
        <!--<td><%#= act.url %></td>-->
        <td><%= act.gp_date&.strftime('%x') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



<br>
<%= will_paginate @acts %>
<br>
