<%= render partial: 'shared/acts_sidebar_btn' %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <h5><%= icon('fas', 'building', 'Accounts') %> <span style="font-size: 14px;">(Results: <%= number_with_delimiter(@acts.count, :delimiter => ',') %> )</span></h5>
  </div>

  <div class="col-md-3">
    <%= render 'acts/download_acts', acts: @acts %>
  </div>

  <div class="col-md-6"></div>
</div>


<div class="panel outer-panel">
  <% @acts.each do |act| %>
    <div class="row outer-list-row">
      <% @act = act %>
      <%= render 'acts/act_details', act: @act %>
      <!-- ACTS SECTION BEGINS -->
        <% act.webs.each do |web| %>
            <%= render 'webs/web_list', web: web %>
        <% end %>
    </div>
  <% end %>
</div>


<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8 text-center">
    <%= will_paginate @acts %>
  </div>
</div>
