<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Rooftops</h1>
  </div>
</div>



<div class="row">
  <div class="col-md-12">

  <%= search_form_for @search, class: "form" do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c%>
    <% end %>
    <p><%= link_to_add_fields "Add Conditions", f, :condition %>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>

  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h5>Search Results: <%= @acts.count %></h5>
  </div>
</div>


<table id="acts" class="display table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th><%= sort_link(@search, :act_name, "RT Name") %></th>
      <th><%= sort_link(@search, :act_gp_date, "RT Scrape Date") %></th>
      <th><%= sort_link(@search, "act.adrs&.first&.state", "State") %></th>
    </tr>
  </thead>

  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= link_to act.act_name, act %></td>
        <td><%= act.act_gp_date&.strftime('%x') %></td>
        <td><%= act.adrs&.last&.state %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @acts %>
<br>
