<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Rooftops</h1>
  </div>
</div>


<div class="row">
  <%= render 'acts/acts_search_partial', search: @search %>
</div>


<div class="row">
  <div class="col-md-12">
    <h5>Search Results: <%= @acts.count %></h5>
  </div>
</div>


<table id="acts" class="display table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th><%= sort_link(@search, :act_name, "RT Name") %></th>
      <th><%= sort_link(@search, :adrs_street) %></th>
      <th><%= sort_link(@search, :adrs_city) %></th>
      <th><%= sort_link(@search, :adrs_state) %></th>
      <th><%= sort_link(@search, :adrs_zip) %></th>
      <th><%= sort_link(@search, :phones_phone) %></th>
      <th><%= sort_link(@search, :webs_url) %></th>
      <th><%= sort_link(@search, :act_gp_date, "RT Scrape Date") %></th>
    </tr>
  </thead>

  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= link_to act.act_name, act %></td>
        <td><%= act.adrs.last&.street %></td>
        <td><%= act.adrs.last&.city %></td>
        <td><%= act.adrs.last&.state %></td>
        <td><%= act.adrs.last&.zip %></td>
        <td><%= act.phones.last&.phone %></td>
        <td><%= act.webs.last&.url %></td>
        <td><%= act.act_gp_date&.strftime('%x') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @acts %>
<br>
